{% extends "base.html" %}
{% block pageName %}Add People to Project{% endblock %}
{% block customjs %}
{% load static %}
    <script type="text/javascript" src="{% static "datepicker/jquery.simple-dtpicker.js" %}"></script>
	<link type="text/css" href="{% static "datepicker/jquery.simple-dtpicker.css" %}" rel="stylesheet" />
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" type="text/css" media="all" />



{% endblock %}
{% block content %}

{% if people %}
<form action="{% url 'lmdb:addProjectPeople' pid %}" method="post">
{% csrf_token %}
    Add People to the Project:

	{% for p in people %}
	<br><input type='checkbox' value='{{p.objectid}}' class='people' name='{{p.objectid}}'/> {{p.firstname}} {{p.lastname}}
	{% endfor %}
	<br>
<input type='submit' value='Add People'/>
</form>
{% endif %}


{% endblock %}