{% extends "base.html" %}
{% block pageName %}Create Sighting{% endblock %}
{% block customjs %}
    {% load static %}
    <script type="text/javascript" src="{% static "datepicker/jquery.simple-dtpicker.js" %}"></script>
	<link type="text/css" href="{% static "datepicker/jquery.simple-dtpicker.css" %}" rel="stylesheet" />
    <link rel="stylesheet" href="//js.arcgis.com/3.6/js/dojo/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="//js.arcgis.com/3.6/js/esri/css/esri.css">
    <style>
      html, body {
       
        margin: 0; 
        padding: 0;
      }
      #header {
        border:solid 2px #462d44;
        background:#fff;
        color:#444;
        -moz-border-radius: 4px;
        border-radius: 4px;
        font-family: sans-serif;
        font-size: 1.1em
        padding-left:20px;
      }
          #bottomPane { height: 200px; }

      #rightPane{
  background-color:#E8E8E8;
  border:solid 2px #B8B8B8;
  margin:5px; 
  width:20%;
}
#map {
  background-color:#FFF;
  border:solid 2px #B8B8B8;
  margin:5px;
  padding:0;
      .templatePicker {
        border: solid 2px #444;
      }
    </style>

 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
    <script src="//malsup.github.com/jquery.form.js"></script> 

    <script src="//js.arcgis.com/3.6/"></script>
    
    
    <script> 
        // wait for the DOM to be loaded    
       
        $(document).ready(function() { 
            // bind 'latlonform' and provide a simple callback function 

            
       $("#createSighting").click(function() {
           $("#sightingForm").submit();
       });
       
        $("#organismSubmit").submit(function(e){
            e.preventDefault();
            var values = $(this).serialize();
            
            var a = $.post('/reference/organisms/createFromData/', values, function(response) {
    // log the response to the console
    //console.log("Response: "+response);
    //console.log(response['commonname']);
 $("#id_organismid").append('<option value="' + response['id'] + '">' + response['organismname'] + '</option>');
      $("#id_organismid option:last").attr('selected', 'selected');
       },'json');
    console.log(a);
    this.reset();
    $("#organismSubmit").css('visibility','hidden')

    });

        }); 
        
    $(function(){
    $("select#id_kingdom").change(function(){
      $.getJSON("/reference/organisms/kingdomFilter/"+$(this).val()+"/", function(j) {
        var options = '<option value="">---------- </option>';
        for (var i = 0; i < j.length; i++) {
          options += '<option value="' + j[i].phylum + '">' + j[i].phylum + '</option>';
        }
        $("#id_phylum").html(options);
        $("#id_phylum option:first").attr('selected', 'selected');
        $("#id_phylum").attr('disabled', false);
      })
      $("#id_kingdom").attr('selected', 'selected');
      $.getJSON( "/reference/organisms/kingdom/"+$(this).val()+"/", function( data ) {
        var options = '<option value="">---------- </option>';
        for (var i = 0; i < data.length; i++) {
          options += '<option value="' + data[i].objectid + '">' + data[i].organismname + '</option>';
        }
        $("#id_organismid").html(options);
        $("#id_organismid option:first").attr('selected', 'selected');
});

    })
  })
  
  
$(function(){
    $("select#id_phylum").change(function(){
      $.getJSON("/reference/organisms/phylumFilter/"+$(this).val()+"/", function(j) {
        var options = '<option value="">---------- </option>';
        for (var i = 0; i < j.length; i++) {
          options += '<option value="' + j[i].class_field + '">' + j[i].class_field + '</option>';
        }
        $("#id_class_field").html(options);
        $("#id_class_field option:first").attr('selected', 'selected');
        $("#id_class_field").attr('disabled', false);
      })
      $("#id_phylum").attr('selected', 'selected');
    $.getJSON( "/reference/organisms/phylum/"+$(this).val()+"/", function( data ) {
        var options = '<option value="">---------- </option>';
        for (var i = 0; i < data.length; i++) {
          options += '<option value="' + data[i].objectid + '">' + data[i].organismname + '</option>';
        }
        $("#id_organismid").html(options);
        $("#id_organismid option:first").attr('selected', 'selected');
});
    })
  })
  
$(function(){
    $("select#id_class_field").change(function(){
      $.getJSON("/reference/organisms/classFilter/"+$(this).val()+"/", function(j) {
        var options = '<option value="">---------- </option>';
        for (var i = 0; i < j.length; i++) {
          options += '<option value="' + j[i].order_field + '">' + j[i].order_field + '</option>';
        }
        $("#id_order_field").html(options);
        $("#id_order_field option:first").attr('selected', 'selected');
        $("#id_order_field").attr('disabled', false);
      })
      $("#id_class_field").attr('selected', 'selected');
      $.getJSON( "/reference/organisms/class_field/"+$(this).val()+"/", function( data ) {
        var options = '<option value="">---------- </option>';
        for (var i = 0; i < data.length; i++) {
          options += '<option value="' + data[i].objectid + '">' + data[i].organismname + '</option>';
        }
        $("#id_organismid").html(options);
        $("#id_organismid option:first").attr('selected', 'selected');
});
    })
  })
  
$(function(){
    $("select#id_order_field").change(function(){
      $.getJSON("/reference/organisms/orderFilter/"+$(this).val()+"/", function(j) {
        var options = '<option value="">---------- </option>';
        for (var i = 0; i < j.length; i++) {
          options += '<option value="' + j[i].family + '">' + j[i].family + '</option>';
        }
        $("#id_family").html(options);
        $("#id_family option:first").attr('selected', 'selected');
        $("#id_family").attr('disabled', false);
      })
      $("#id_order_field").attr('selected', 'selected');
      $.getJSON( "/reference/organisms/order_field/"+$(this).val()+"/", function( data ) {
        var options = '<option value="">---------- </option>';
        for (var i = 0; i < data.length; i++) {
          options += '<option value="' + data[i].objectid + '">' + data[i].organismname + '</option>';
        }
        $("#id_organismid").html(options);
        $("#id_organismid option:first").attr('selected', 'selected');
});
    })
  })
  
$(function(){
    $("select#id_family").change(function(){
      $.getJSON("/reference/organisms/familyFilter/"+$(this).val()+"/", function(j) {
        var options = '<option value="">---------- </option>';
        for (var i = 0; i < j.length; i++) {
          options += '<option value="' + j[i].genus + '">' + j[i].genus + '</option>';
        }
        $("#id_genus").html(options);
        $("#id_genus option:first").attr('selected', 'selected');
        $("#id_genus").attr('disabled', false);
      })
      $("#id_family").attr('selected', 'selected');
      $.getJSON( "/reference/organisms/family/"+$(this).val()+"/", function( data ) {
        var options = '<option value="">---------- </option>';
        for (var i = 0; i < data.length; i++) {
          options += '<option value="' + data[i].objectid + '">' + data[i].organismname + '</option>';
        }
        $("#id_organismid").html(options);
        $("#id_organismid option:first").attr('selected', 'selected');
});
    })
  })

$(function(){
    $("select#id_genus").change(function(){
      $.getJSON("/reference/organisms/genusFilter/"+$(this).val()+"/", function(j) {
        var options = '';
        console.log(j);
        for (var i = 0; i < j.length; i++) {
          options += '<option value="' + j[i].objectid + '">' + j[i].organismname + '</option>';
        }
        $("#id_organismid").html(options);
        $("#id_organismid option:first").attr('selected', 'selected');
      })
      $("#id_genus").attr('selected', 'selected');
    })
  })


function manClassUpdate(phyl){
jQuery.getJSON("/reference/organisms/phylumFilter/"+phyl+"/", function(j) {
        var options = '<option value="">---------- </option>';
        for (var i = 0; i < j.length; i++) {
          options += '<option value="' + j[i].class_field + '">' + j[i].class_field + '</option>';
        }
        $("#id_class_field").html(options);
        $("#id_class_field option:first").attr('selected', 'selected');
        $("#id_class_field").attr('disabled', false);
      })
      $("#id_phylum").attr('selected', 'selected');

};


function manOrderUpdate(class_field){
jQuery.getJSON("/reference/organisms/classFilter/"+class_field+"/", function(j) {
        var options = '<option value="">---------- </option>';
        for (var i = 0; i < j.length; i++) {
          options += '<option value="' + j[i].order_field + '">' + j[i].order_field + '</option>';
        }
        $("#id_order_field").html(options);
        $("#id_order_field option:first").attr('selected', 'selected');
        $("#id_order_field").attr('disabled', false);
      })
      $("#id_class_field").attr('selected', 'selected');

};

function manFamilyUpdate(order_field){
jQuery.getJSON("/reference/organisms/orderFilter/"+order_field+"/", function(j) {
        var options = '<option value="">---------- </option>';
        for (var i = 0; i < j.length; i++) {
          options += '<option value="' + j[i].family + '">' + j[i].family + '</option>';
        }
        $("#id_family").html(options);
        $("#id_family option:first").attr('selected', 'selected');
        $("#id_family").attr('disabled', false);
      })
      $("#id_order_field").attr('selected', 'selected');

};


function manGenusUpdate(family){
jQuery.getJSON("/reference/organisms/familyFilter/"+family+"/", function(j) {
        var options = '<option value="">---------- </option>';
        for (var i = 0; i < j.length; i++) {
          options += '<option value="' + j[i].genus + '">' + j[i].genus + '</option>';
        }
        $("#id_genus").html(options);
        $("#id_genus option:first").attr('selected', 'selected');
        $("#id_genus").attr('disabled', false);
      })
      $("#id_family").attr('selected', 'selected');

};    

function addOrganism(){
    $("#organismSubmit").css('visibility','visible')
    $("#kingdom").val($("#id_kingdom").val());
    $("#phylum").val($("#id_phylum").val());
    $("#class_field").val($("#id_class_field").val());
    $("#order_field").val($("#id_order_field").val());
    $("#family").val($("#id_family").val());
    $("#genus").val($("#id_genus").val());
    
    }
    </script> 
    
    
{% include 'mapbase.html' %}

{% endblock %}
{% block customclass %}
class ="claro"
{% endblock %}
{% block content %}
<p>Sightings in LMDB are actual Organism observations made at LUREC.  The species can be recorded from the existing library of Organisms, or a new Organism can be entered if it has not been sighted before at LUREC.  Information recorded included the person who made the Sighting, the associated Project, the date of the sighting, and a count of the Organisms observed.</p>
<table>
<tbody>
<tr>
<td style="width:75%">
<form id = "sightingForm" action="{% url 'lmdb:createSighting' %}" method="post">


{% csrf_token %}
{{form.non_field_errors}}
{{form.objectid.errors}}
{{form.objectid}}
Organism Kingdom:  <select id="id_kingdom" name="kingdom">
<option value="" selected="selected"></option>
<option value="Bacteria">Bacteria</option>
<option value="Archaea">Archaea</option>
<option value="Protista">Protista</option>
<option value="Plantae">Plantae</option>
<option value="Fungi">Fungi</option>
<option value="Animalia">Animalia</option>
</select><br>

Organism Phylum: <select disabled="True" id="id_phylum" name="phylum">
</select> <br>
 
Organism Class:  <select disabled="True" id="id_class_field" name="class_field">
</select><br>

Organism Order:  <select disabled="True" id="id_order_field" name="order_field">
</select><br>

Organism Family:  <select disabled="True" id="id_family" name="family">
</select><br>

Organism Genus:  <select disabled="True" id="id_genus" name="genus">
</select><br>
{{form.organismid.errors}}
Organism:  {{form.organismid}}  <button type="button" onclick="addOrganism();">Add Organism</button><br> {{form.projectid.errors}}
Project:  {{form.projectid}} <br>

{{form.number.errors}}
Number:  {{form.number}} <br>
Sighting Date:  {{form.date}} <br>
<script type="text/javascript">
		$.noConflict();
		jQuery($(function(){
			$('#id_date').appendDtpicker();
		}));
	</script>

{{form.notes.errors}}
Sighting Notes:  {{form.notes}} <br>
{{form.personid.errors}}
Person:  {{form.personid}}<br>

{{form.locationid.errors}}
Location:  {{form.locationid}} <br>

</form>

</td>
<td>
<div>
<form style="visibility:hidden" id="organismSubmit">
Organism Kingdom:  <select id="kingdom" name="kingdom">
<option value="" selected="selected">---------- </option>
<option value="Bacteria">Bacteria</option>
<option value="Archaea">Archaea</option>
<option value="Protista">Protista</option>
<option value="Plantae">Plantae</option>
<option value="Fungi">Fungi</option>
<option value="Animalia">Animalia</option>
</select><br>

Organism Phylum: <input type="text" id="phylum" name="phylum"/>
 
Organism Class:  <input type="text" id="class_field" name="class_field"/>


Organism Order:  <input type="text" id="order_field" name="order_field"/>

Organism Family:  <input type="text" id="family" name="family"/>

Organism Genus:  <input type="text" id="genus" name="genus"/>

Organism Species <input type="text" id = "species" name="species"/>

Organism Name:  <input type="text" id = "organismname" name="organismname"/>

<input type="submit" value="Submit"/>
</form>
</div>
</td>
</tr>
</tbody>
</table>
<div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:true, design:'headline'" style="width:100%;height:100%;">
      <div data-dojo-type="dijit/layout/ContentPane"  id="header" data-dojo-props="region:'top'" style="overflow:auto">
      <p>Add the location of your Measurement in one of three ways.</p>
      <ul><li>For new locations, enter a name and description for the location.</li><ul>
        <ol>
          <li>Enter geographic coordinates in the form below, or</li>
          <li>Click on the desired type of location (point, line or polygon) and then click where it is located on the map. Double click to finsh lines and polygons with multiple vertices.</li>
          <li>To choose from existing locations, simply click the location on the map and confirm that you wish to use that location.</li>
        </ol>
    <div style="float:left">
        <form id="latlonform" name='registration'  onSubmit="return latlonValidation();">
            <label for="name">Name:</label>  
            <input type="text" name="name" size="12" /> <br>             
            <label for="description">Description:</label>  
            <input type="text" name="description" size="12" /> <br> 
            <label for="latitude">Latitude (y):</label>  
            <input type="double" name="latitude" size="12" /> <br> 
            <label for="longitude">Longitude (x):</label> 
            <input type="double" name="longitude" size="12" /> 
            <input type="submit" name="submit" value="Add Site"/>
        </form>
      </div>
        <div id="templatePickerDiv"></div>

           </div>
      <div id="map" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="height:600px"></div>
      <div id="rightPane" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'right'">

          </div>
          </div>
<input id="createSighting" type="submit" value="Create Sighting" />

{% endblock %}



