<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=7, IE=9, IE=10">
    <!--The viewport meta tag is used to improve the presentation and behavior of the samples 
      on iOS devices-->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no">
    <title>Add Location</title>

    <link rel="stylesheet" href="//js.arcgis.com/3.6/js/dojo/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="//js.arcgis.com/3.6/js/esri/css/esri.css">
    <style>
      html, body {
        height: 100%;
        width: 100%;
        margin: 0; 
        padding: 0;
        overflow:hidden;
      }
      #header {
        border:solid 2px #462d44;
        background:#fff;
        color:#444;
        -moz-border-radius: 4px;
        border-radius: 4px;
        font-family: sans-serif;
        font-size: 1.1em
        padding-left:20px;
      }
      #map {
        padding:1px;
        border:solid 2px #444;
        -moz-border-radius: 4px;
        border-radius: 4px;
      }
      #rightPane {
        border:none;
        padding: 0;
        width:228px;
      }
      .templatePicker {
        border: solid 2px #444;
      }
    </style>

 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
    <script src="//malsup.github.com/jquery.form.js"></script> 

    <script src="//js.arcgis.com/3.6/"></script>
    
        <script> 
        // wait for the DOM to be loaded    
       
        $(document).ready(function() { 
            // bind 'latlonform' and provide a simple callback function 
            $('#latlonform').ajaxForm(function() { 
            }); 
        }); 
        
        
    </script> 
    
    
    <script>
var lmdbPointLayer;
var lmdbLineLayer;
var lmdbPolygonLayer;
dojo.require("esri.map");
dojo.require("esri.layers.FeatureLayer");
dojo.require("esri.layers.FeatureEditResult");
dojo.require("esri.geometry.Geometry");
dojo.require("dijit.TooltipDialog");
dojo.require("dijit.layout.BorderContainer");
dojo.require("dijit.layout.ContentPane");
dojo.require("esri.dijit.editing.TemplatePicker-all");
dojo.require("esri.tasks.gp");

var map;
require([
    "esri/map",
    "esri/toolbars/draw",
    "esri/toolbars/edit",
    "esri/graphic",
    "esri/config",

    "esri/layers/FeatureLayer",

    "esri/symbols/SimpleMarkerSymbol",
    "esri/symbols/SimpleLineSymbol",
    "esri/symbols/SimpleFillSymbol",

    "esri/dijit/editing/TemplatePicker",

    "dojo/_base/array",
    "dojo/_base/event",
    "dojo/_base/lang",
    "dojo/parser",
    "dijit/registry",

    "dijit/layout/BorderContainer", "dijit/layout/ContentPane",
    "dijit/form/Button", "dojo/domReady!"
], function (
    Map, Draw, Edit, Graphic, esriConfig,
    FeatureLayer,
    SimpleMarkerSymbol, SimpleLineSymbol, SimpleFillSymbol,
    TemplatePicker,
    arrayUtils, event, lang, parser, registry
) {
    parser.parse();

    // refer to "Using the Proxy Page" for more information:  https://developers.arcgis.com/en/javascript/jshelp/ags_proxy.html
    esriConfig.defaults.io.proxyUrl = "/proxy";

    // This service is for development and testing purposes only. We recommend that you create your own geometry service for use within your applications. 
    esriConfig.defaults.geometryService = new esri.tasks.GeometryService("http://tasks.arcgisonline.com/ArcGIS/rest/services/Geometry/GeometryServer");

    map = new Map("map", {
        basemap: "satellite",
        logo: true,
        center: [-88.366193, 42.289993],
        zoom: 15
    });

    map.on("layers-add-result", initEditing);


        dojo.connect(map, "onLoad",signIn);

function signIn() {
        console.log('signing in')
      //dojo.byId("signInStatus").innerHTML = "Creating token...";

      // Get token from the ArcGIS Server Token Service.
      //
      esri.request({
        url: "https://147.126.65.155:6443/arcgis/tokens/",
        content: {
          request: "getToken",
          username: "lmdb_user",
          password: "lmdb",
          // clientid may not be necessary; try commented out first, but this is the correct syntax.
          //clientid: "ref.https://lmdb.luc.edu/"  
        },
        handleAs: "text",
        load: tokenObtained,
        error: tokenRequestFailed
      });
    }

    function tokenObtained(response) {
      //dojo.byId("signInStatus").innerHTML = "Token created. Accessing the service...";

      // Add the secure feature service to the map
      // Note that the token is appended to the URL
      // when constructing the layer.
    console.log('token acquired')
    var pointFeatureLayerURL = "https://147.126.65.155:6443/arcgis/rest/services/campus/lurec_lmdb/FeatureServer/0?token=" + response;



    pointLayer = new FeatureLayer(pointFeatureLayerURL ,{
        mode: FeatureLayer.MODE_SNAPSHOT,
        outFields:["*"]
     });


   
    var lineFeatureLayerURL = "https://147.126.65.155:6443/arcgis/rest/services/campus/lurec_lmdb/FeatureServer/1?token=" + response;

    lineLayer = new FeatureLayer(lineFeatureLayerURL, {
        mode: FeatureLayer.MODE_SNAPSHOT,
        outFields: ["*"]
    });


    var polyFeatureLayerURL = "https://147.126.65.155:6443/arcgis/rest/services/campus/lurec_lmdb/FeatureServer/2?token=" + response;

    polyLayer = new FeatureLayer(polyFeatureLayerURL, {
        mode: FeatureLayer.MODE_SNAPSHOT,
        outFields: ["*"]
    });


        infoTemplate = new esri.InfoTemplate("ObjectID : ${objectid}",
        "Description : ${description}<br>");


    if (pointLayer != null){
        pointLayer.setInfoTemplate(infoTemplate);
     }
     if (lineLayer != null){
         lineLayer.setInfoTemplate(infoTemplate);
     }
     if (polyLayer != null){
         polyLayer.setInfoTemplate(infoTemplate);
     }

    map.addLayers([pointLayer,lineLayer,polyLayer]);
      
  }


// for testing only
function tokenRequestFailed(error) {
    console.log(error)
      dojo.byId("signInStatus").innerHTML = "Unable to create token. Please check your username/password";
    }


    dojo.connect(map, "onLayersAddResult", initEditing);

    dojo.connect(lmdbPointLayer, "onEditsComplete",
        function (addResults) {
            if (addResults.length > 0) {
                alert("objectid is: " + addResults[0].objectId);


                method = "post"; // Set method to post by default, if not specified.

                // The rest of this code assumes you are not using a library.
                // It can be made less wordy if you use one.
                var form = document.createElement("form");
                form.setAttribute("method", method);
                form.setAttribute("action", '..');
                form.setAttribute("target", '_blank');
                var csrfToken = document.createElement("input");
                csrfToken.setAttribute("type", "hidden");
                csrfToken.setAttribute("name", "csrfmiddlewaretoken");
                csrfToken.setAttribute("value", "{{ csrf_token }}");
                form.appendChild(csrfToken);


                var indicator = document.createElement("input");
                indicator.setAttribute("type", "hidden");
                indicator.setAttribute("name", "indicator");
                indicator.setAttribute("value", "yes");
                form.appendChild(indicator);


                var type = document.createElement("input");
                type.setAttribute("type", "hidden");
                type.setAttribute("name", "type");
                type.setAttribute("value", "point");
                form.appendChild(type);

                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", 'objectid');
                hiddenField.setAttribute("value", addResults[0].objectId);

                form.appendChild(hiddenField);



                document.body.appendChild(form);
                form.submit();




                expressionParam = addResults[0].objectId;
                myGPExecuteTask(expressionParam);
                var graphic = featureLayer.graphics[featureLayer.graphics.length - 1];
                graphic.attributes["additionalinformation"] = graphic.attributes["objectid"];

            }


        });


    dojo.connect(lmdbLineLayer, "onEditsComplete",
        function (addResults) {
            if (addResults.length > 0) {
                alert("objectid is: " + addResults[0].objectId);


                method = "post"; // Set method to post by default, if not specified.

                // The rest of this code assumes you are not using a library.
                // It can be made less wordy if you use one.
                var form = document.createElement("form");
                form.setAttribute("method", method);
                form.setAttribute("action", '..');

                var csrfToken = document.createElement("input");
                csrfToken.setAttribute("type", "hidden");
                csrfToken.setAttribute("name", "csrfmiddlewaretoken");
                csrfToken.setAttribute("value", "{{ csrf_token }}");
                form.appendChild(csrfToken);


                var indicator = document.createElement("input");
                indicator.setAttribute("type", "hidden");
                indicator.setAttribute("name", "indicator");
                indicator.setAttribute("value", "yes");
                form.appendChild(indicator);


                var type = document.createElement("input");
                type.setAttribute("type", "hidden");
                type.setAttribute("name", "type");
                type.setAttribute("value", "line");
                form.appendChild(type);


                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", 'objectid');
                hiddenField.setAttribute("value", addResults[0].objectId);

                form.appendChild(hiddenField);



                document.body.appendChild(form);
                form.submit();




                expressionParam = addResults[0].objectId;
                myGPExecuteTask(expressionParam);
                var graphic = featureLayer.graphics[featureLayer.graphics.length - 1];
                graphic.attributes["additionalinformation"] = graphic.attributes["objectid"];

            }


        });




    dojo.connect(lmdbPolygonLayer, "onEditsComplete",
        function (addResults) {
            if (addResults.length > 0) {
                alert("objectid is: " + addResults[0].objectId);


                method = "post"; // Set method to post by default, if not specified.

                // The rest of this code assumes you are not using a library.
                // It can be made less wordy if you use one.
                var form = document.createElement("form");
                form.setAttribute("method", method);
                form.setAttribute("action", '..');

                var csrfToken = document.createElement("input");
                csrfToken.setAttribute("type", "hidden");
                csrfToken.setAttribute("name", "csrfmiddlewaretoken");
                csrfToken.setAttribute("value", "{{ csrf_token }}");
                form.appendChild(csrfToken);


                var indicator = document.createElement("input");
                indicator.setAttribute("type", "hidden");
                indicator.setAttribute("name", "indicator");
                indicator.setAttribute("value", "yes");
                form.appendChild(indicator);


                var type = document.createElement("input");
                type.setAttribute("type", "hidden");
                type.setAttribute("name", "type");
                type.setAttribute("value", "poly");
                form.appendChild(type);


                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", 'objectid');
                hiddenField.setAttribute("value", addResults[0].objectId);

                form.appendChild(hiddenField);



                document.body.appendChild(form);
                form.submit();




                expressionParam = addResults[0].objectId;
                myGPExecuteTask(expressionParam);
                var graphic = featureLayer.graphics[featureLayer.graphics.length - 1];
                graphic.attributes["additionalinformation"] = graphic.attributes["objectid"];

            }


        });




    /////////////////////////




    function initEditing(evt) {
        console.log("initEditing", evt);
        // var map = this;
        var currentLayer = null;
        var layers = arrayUtils.map(evt.layers, function (result) {
            return result.layer;
        });
        console.log("layers", layers);

        var editToolbar = new Edit(map);
        editToolbar.on("deactivate", function (evt) {
            currentLayer.applyEdits(null, [evt.graphic], null);
        });

        arrayUtils.forEach(layers, function (layer) {
            var editingEnabled = false;
            layer.on("dbl-click", function (evt) {
                event.stop(evt);
                if (editingEnabled === false) {
                    editingEnabled = true;
                    editToolbar.activate(Edit.EDIT_VERTICES, evt.graphic);
                } else {
                    currentLayer = this;
                    editToolbar.deactivate();
                    editingEnabled = false;
                }
            });

            layer.on("click", function (evt) {
                event.stop(evt);
                
            });
        });

        var templatePicker = new TemplatePicker({
            featureLayers: layers,
            rows: "auto",
            columns: 2,
            grouping: true,
            style: "height: auto; overflow: auto;"
        }, "templatePickerDiv");

        templatePicker.startup();

        var drawToolbar = new Draw(map);

        var selectedTemplate;
        templatePicker.on("selection-change", function () {
            if (templatePicker.getSelected()) {
                selectedTemplate = templatePicker.getSelected();
            }
            switch (selectedTemplate.featureLayer.geometryType) {
            case "esriGeometryPoint":
                drawToolbar.activate(Draw.POINT);
                break;
            case "esriGeometryPolyline":
                drawToolbar.activate(Draw.POLYLINE);
                break;
            case "esriGeometryPolygon":
                drawToolbar.activate(Draw.POLYGON);
                break;
            }
        });

        drawToolbar.on("draw-end", function (evt) {
            drawToolbar.deactivate();
            editToolbar.deactivate();
            var newAttributes = lang.mixin({}, selectedTemplate.template.prototype.attributes);
            var newGraphic = new Graphic(evt.geometry, null, newAttributes);
            selectedTemplate.featureLayer.applyEdits([newGraphic], null, null);

        });
    }
});




function geocode(lonNum, latNum, name, desc) {
    point = new esri.geometry.geographicToWebMercator(esri.geometry.Point(lonNum, latNum, new esri.SpatialReference({
        wkid: 4326
    })));
    var myGraphic = new esri.Graphic(point);
    myGraphic.setAttributes({
        'description': desc
    })
    try {
        lmdbPointLayer.applyEdits([myGraphic], null, null);
    } catch (err) {
        console.log(err);
    }
    addGraphic(point);
}

function addGraphic(geometry) {
    map.graphics.clear();
    var symbol = new esri.symbol.SimpleMarkerSymbol(esri.symbol.SimpleMarkerSymbol.STYLE_SQUARE, 10);
    map.graphics.add(new esri.Graphic(geometry, symbol));
}


function latlonValidation() {
    var lat = document.forms["registration"]["latitude"].value;
    var latNum = Number(lat);
    var lon = document.forms["registration"]["longitude"].value;
    var lonNum = Number(lon);
    var name = document.forms["registration"]["name"].value;
    var desc = document.forms["registration"]["description"].value;



    var validLat = (lat.match(/^[-+]?(?:\d+\.?\d*|\.\d+)$/));
    var validLon = (lon.match(/^[-+]?(?:\d+\.?\d*|\.\d+)$/));

    if (!validLat) {
        alert("Please enter numeric characters only for Latitude. Integers or Decimals with +/- signs are accepted.");
        return false;
    }

    if (!validLon) {
        alert("Please enter numeric characters only for Longitude. Integers or Decimals with +/- signs are accepted.");
        return false;
    }

    if ((latNum <= -90) || (latNum >= 90)) {
        alert("Please enter a value for latitude between -90.0 and 90.0");
        return false;
    }
    if ((lonNum <= -180) || (lonNum >= 180)) {
        alert("Please enter a value for longitude between -180.0 and 180.0");
        return false;
    }
    alert('Form Succesfully Submitted');
    geocode(lonNum, latNum, name, desc);
    return true;
}

    </script>
  </head>
  <body class="claro">
    <div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:true, design:'headline'" style="width:100%;height:100%;">
      <div data-dojo-type="dijit/layout/ContentPane"  id="header" data-dojo-props="region:'top'">
      <p>Add your new site in one of two ways.</p>
        <ol>
          <li>Enter geographic coordinates in the form below, or</li>
          <li>Click on the Sample Site point to the right then click on the map to add a point. </li>
        </ol>
      </p>
    
        <form id="latlonform" name='registration'  onSubmit="return latlonValidation();">
            <label for="name">Name:</label>  
            <input type="text" name="name" size="12" /> <br>             
            <label for="description">Description:</label>  
            <input type="text" name="description" size="12" /> <br> 
            <label for="latitude">Latitude (y):</label>  
            <input type="double" name="latitude" size="12" /> <br> 
            <label for="longitude">Longitude (x):</label> 
            <input type="double" name="longitude" size="12" /> 
            <input type="submit" name="submit" value="Add Site"/>
        </form> 
 
      
      </div>
      <div id="map" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'"></div>
      <div id="rightPane" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'right'">
        <div id="templatePickerDiv"></div>
      </div>
    </div>
  </body>
</html>
