{% extends "base.html" %}
{% block pageName %}Edit Location{% endblock %}
{% block topBar %}{%endblock%}
{% block content %}

<form action="{% url 'lmdb:editLocation' location.objectid %}" method="post">

{% csrf_token %}
{{form.non_field_errors}}
{{form.objectid.errors}}
{{form.objectid}}
{{form.name.errors}}
Location Name:  {{form.name}}<br>
{{form.description.errors}}
Location Description:  {{form.description}}<br>
{{form.pointid.errors}}
Point ID: {{form.pointid}} <br>
{{form.lineid.errors}}
Line ID:  {{form.lineid}}<br>
{{form.areaid.errors}}
PolyLine ID:  {{form.areaid}}
<input type="submit" value="Edit Location" />
</form>

{% endblock %}
