{% extends "base.html" %}
{% block pageName %}Organism Detail{% endblock %}
{% block content %}
<h4><a href="{% url 'lmdb:organisms' %}">Go Back</a> to all Organisms</h4>
<br>
<h3>Details of Organism # {{organism.objectid}}: {{organism.organismname}}:</h3>
<h3><a href="{% url 'lmdb:editOrganism' organism.objectid %}">Edit Organism</a></h3>
<ul>
    <li>Kingdom:  {{organism.kingdom}}</li>
    <li>Phylum:  {{organism.phylum}}</li>
    <li>Class:  {{organism.class_field}}</li>
    <li>Order:  {{organism.order_field}}</li>
    <li>Family:  {{organism.family}}</li>
    <li>Genus:  {{organism.genus}}</li>
    <li>Species: {{organism.species}}</li>
</ul>
<h4><a href="{% url 'lmdb:organisms' %}">Go Back</a> to all Organisms</h4>
{% endblock %}