{% extends "base.html" %}
{% block pageName %}Parameter Detail{% endblock %}
{% block content %}
<h1>{{param.commonname}}</h1>
<h3><a href="{% url 'lmdb:editParam' param.objectid %}">Edit Parameter</a></h3>
<ul>
    <li>ID:  {{param.objectid}}</li>
    {% if param.sciname %}
        <li>Scientific Name:  {{param.sciname}}</li>
    {% endif %}
    <li>Common Name:  {{param.commonname}}</li>
    {% if param.casnumber %}
        <li>CAS Number:  {{param.casnumber}}</li>
    {% endif %}
    {% if param.epanumber %}
        <li>EPA Number:  {{param.epanumber}}</li>
    {% endif %}    
</ul>
{% endblock %}