{% extends "base.html" %}
{% block pageName %}Permit Detail{% endblock %}
{% block content %}
<h1>{{permit.objectid}}</h1>
<h3><a href="{% url 'lmdb:editPermit' permit.objectid %}">Edit Permit</a></h3>
<ul>
    <li>Permit Start Date:  {{permit.permitstartdate}}</li>
    {% if permit.permitenddate %}
        <li>Permit End Date:  {{permit.permitenddate}}</li>
    {% endif %}
    {% if permit.permitagency %}
        <li>Permit Agency:  {{permit.permitagency}}</li>
    {% endif %}
    {% if permit.description %}
        <li>Description:  {{permit.description}}</li>
    {% endif %}    
</ul>
{% endblock %}