{% extends "base.html" %}
{% block pageName %}Permit Detail{% endblock %}
{% block content %}
<h4><a href="{% url 'lmdb:permits' %}">Go Back</a> to all Permits</h4>
<br>
<h3>Details of Event # {{permit.objectid}}: from {{permit.permitagency}}:</h3>
<h3><a href="{% url 'lmdb:editPermit' permit.objectid %}">Edit Permit</a></h3>
<ul>
    <li>Permit Start Date:  {{permit.permitstartdate}}</li>
    {% if permit.permitenddate %}
        <li>Permit End Date:  {{permit.permitenddate}}</li>
    {% endif %}
    {% if permit.permitagency %}
        <li>Permit Agency:  {{permit.permitagency}}</li>
    {% endif %}
    {% if permit.description %}
        <li>Description:  {{permit.description}}</li>
    {% endif %}
</ul>
{% if projects %}
Projects Associated with Permit
<ul>
{% for p in projects %}
    <li><a href="{% url 'lmdb:projectDetail' p.objectid %}">{{p.projectname}}</a></li>
{% endfor %}
</ul>
{% endif %}
<h4><a href="{% url 'lmdb:permits' %}">Go Back</a> to all Permits</h4>
{% endblock %}