{% extends "base.html" %}
{% block pageName %}Reference Data{% endblock %}
{% block sideBar %}
<div class="span3">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
		 <li class="nav-header">Sidebar</li>
			<li><h4><a href="{% url 'lmdb:reference' %}">Reference Data</a></h4>
				<ul>
					<li><a href="{% url 'lmdb:events' %}">Events</a></li>
					<li><a href="{% url 'lmdb:parameters' %}">Parameters</a></li>
					<li><a href="{% url 'lmdb:projects' %}">Projects</a></li>
					<li><a href="{% url 'lmdb:permits' %}">Permits</a></li>
					<li><a href="{% url 'lmdb:locations' %}">Locations</a></li>
					<li><a href="{% url 'lmdb:organisms' %}">Organisms</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
{% endblock %}
{% block content %}
<h2>LMDB Reference Data</h2>
<p>The Reference Data contained in LMDB is a catalog of activities and a library of items found at LUREC.  Enter and update information that can be referenced by you and others through LMDB. These categories will ultimately store a complete set of options for the other Data Input categories to reference.</p>

<h3> Reference Data Categories</h3>
<p>Events in LMDB are the broadest category, larger than the individual project or research activity.  An Event can be a class or a planned event, for example.  Events have a coordinator, number of participants, a type and description, as well as starting and ending dates.</p>

<p>Projects in LMDB are the core category that hold information on activities taking place at LUREC.  A Project can be a restoration project, a farm expansion, or a research initiative, for example.  Projects have a listed objective and description, information on permits and funding, a coordinator and participants, as well as starting and ending dates.</p>

<p>Permits in LMDB are entered for particular activities that modify the landscape in some way.  General permits for LUREC and specific permits for individual research activities should be entered and then referenced in Projects.</p>

<p>Organisms in LMDB are those found at LUREC.  This serves as an inventory of species on the property, and enables users to select from existing, known species or enter new species, previously not observed at LUREC.  Organisms are referenced by Sightings and Collections.</p>

<p>Parameters in LMDB are those measured at LUREC.  Beyond just chemical and physical parameters, measurements can be taken for acreage, volume or even counts of volunteers.  The chemical parameters use a standard of the USEPA.</p>

{% endblock %}