{% extends "tablebase.html" %}
{% block pageName %}Sightings{% endblock %}
{% block content %}
<h2>Sightings</h2>
<p>Sightings in LMDB are actual Organism observations made at LUREC.  The species can be recorded from the existing library of Organisms, or a new Organism can be entered if it has not been sighted before at LUREC.  Information recorded included the person who made the Sighting, the associated Project, the date of the sighting, and a count of the Organisms observed.</p>

<p>To add a Sighting, click here:</p>
<h3> <a href="{% url 'lmdb:createSighting' %}">Create Sighting</a></h3>

<p>The interactive map below shows all existing Sightings.  It can be filtered by typing in the Search boxes below the map.  This will also filter the data shown in the table below the Search boxes.</p>

{% if sightings %}
        <div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:true, design:'headline'" style="width:100%;height:100%;">
      <div data-dojo-type="dijit/layout/ContentPane"  id="header" data-dojo-props="region:'top'">
           </div>
      <div id="map" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'"></div>
          </div>
          
        <br>          

    Date Min:<input type = "text" id="datepicker_min"/>
    Date Max:<input type = "text" id="datepicker_max"/>


    <table id="example">
    <thead><tr>
            <th><input style="width:100%" type="text" name="type" value="Type" class="search_init" /></th>
			<th><input style="width:100%" type="text" name="id" value="Search Ids" class="search_init" /></th>
			<th><input style="width:100%" type="text" name="project" value="Search Projects" class="search_init" /></th>
			<th><input style="width:100%" type="text" name="organism" value="Search Organisms" class="search_init" /></th>
			<th><input style="width:100%" type="text" name="location" value="Search Locations" class="search_init" /></th>
			<th><input style="width:100%" type="text" name="person" value="Search People" class="search_init" /></th>
			<th><input style="width:100%" type="text" name="date" value="Search Dates" class="search_init" /></th>

		</tr>
		<tr>
        <th>Type</th>
        <th>ID</th>
        <th>Project</th>
        <th>Organism</th>
        <th>Location</th>
        <th>Collector</th>
        <th>Date</th>
        </tr>
    </thead>
    <tbody>
    {% for s in sightings %}
        <tr>
        <td><a href="{% url 'lmdb:sightingDetail' s.objectid %}">Sighting</a></td>
        <td>{{ s.objectid }}</td>
        <td>{{ s.projectid_id }}</td>
        <td>{{ s.organismid_id }}</td>
        <td>{{ s.locationid }}</td>
        <td>{{ s.personid_id }}</td>
        <td>{{ s.datecollect|date:"m/d/Y" }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
   
	</tfoot>
    </table>
    <br>

{% else %}
    <p>No sightings are available.</p>
{% endif %}
{% endblock %}