<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}

    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}" />
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-responsive.css" %}" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
    <script src="http://malsup.github.com/jquery.form.js"></script> 

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="http://www.luc.edu/favicon.ico">


    <title>{% block title %}LUREC LMDB System{% endblock %}</title>
    
     <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    
    {% block customjs %}{% endblock %}
</head>

<body {% block customclass %} {% endblock %}>
            

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <p class="brand">{% block pageName %}LUREC LMDB{% endblock %}</p>
          <div class="nav-collapse collapse">
          <p class="navbar-text pull-right">
                 Hello, <a href="{% url 'lmdb:updateUser' %}">{{ user.username}}</a> | <a href="{% url 'lmdb:logout' %}">Logout</a></p>
            <ul class="nav">
            {% block topBar %}
              <li ><a href="{% url 'lmdb:index' %}">Home</a></li>
              <li><a href="{% url 'lmdb:reference' %}">Reference Data</a></li>
              <li><a href="{% url 'lmdb:data' %}">Data Input</a></li>
              <li><a href="{% url 'lmdb:reporting' %}">Reporting</a></li>
            {% endblock %}
         </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span9">
          <div class="hero-unit">

        {% block content %}{% endblock %}
    </div>
    </div>
</div>
</div>

    
    

</body>
</html>