<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="http://10.19.2.243/"
                logFile="proxy_log.log"
                logLevel="INFO"
                mustMatch="false">
  <serverUrls>
    <serverUrl url="https://jeez.etl.luc.edu/arcgis103/rest/services/campus/" 
username="lmdb_user" 
password="lmdb"
        matchAll="true"/>
  </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
