{% extends "mapbase.html" %}
{% block pageName %}Create Measurement{% endblock %}
{% block customjs %}
   {% load static %}
    <script type="text/javascript" src="{% static "datepicker/jquery.simple-dtpicker.js" %}"></script>
  <link type="text/css" href="{% static "datepicker/jquery.simple-dtpicker.css" %}" rel="stylesheet" />
    <style>
      html {
        margin: 0; 
        padding: 0;
      }
      #header {
        border:solid 2px #462d44;
        background:#fff;
        color:#444;
        -moz-border-radius: 4px;
        border-radius: 4px;
        font-family: sans-serif;
        font-size: 1.1em
        padding-left:20px;
      }
      #map {
        padding:1px;
        border:solid 2px #444;
        -moz-border-radius: 4px;
        border-radius: 4px;
      }
      #rightPane {
        border:none;
        padding: 0;
        width:228px;
      }
      .templatePicker {
        border: solid 2px #444;
      }
    </style>
    
    


    
        <script> 
        // wait for the DOM to be loaded    
       
        $(document).ready(function() { 
            // bind 'latlonform' and provide a simple callback function 
           $("#createMeasurement").click(function() {
           $("#measurementForm").submit();
       });
    
       $("#paramSubmit").submit(function(e){
            e.preventDefault();
            var values = $(this).serialize();
            
            var a = $.post('/reference/parameters/createFromData/', values, function(response) {
    // log the response to the console
    console.log("Response: "+response);
    console.log(response['commonname']);
 $("#id_parameterid").append('<option value="' + response['id'] + '">' + response['commonname'] + '</option>');
      $("#id_parameterid option:last").attr('selected', 'selected');
       },'json');
    console.log(a);
    this.reset();
        $("#paramSubmit").css('display','none')

    });
        }); 
        
        
    </script> 
    
    
<script>


function addParameter(){
    $("#paramSubmit").css('display','inline')

};




</script>


{% endblock %}
{% block customclass %}
class ="claro"
{% endblock %}
{% block content %}
<p>Measurements in LMDB are chemical, physical and other Parameter observations. The level of a Parameter, its identity and units will be recorded, along with the date, location and method of sampling.  These Measurements are associated with particular Projects and the person responsible for the Measurement.</p>
<table>
<tbody>
<tr>
<td style="width:75%">
<form id="form" action="{% url 'data:createMeasurement' %}" method="post">
{% csrf_token %}
{{form.non_field_errors}}
{{form.objectid.errors}}
{{form.objectid}}
{{form.mname.errors}}
Name:  {{form.mname}}<br>
{{form.parameterid.errors}}
Parameter:  {{form.parameterid}}  <button type="button" onclick="addParameter();">Add Parameter</button>

<br>
{{form.projectid.errors}}
Project:  {{form.projectid}} <br>
{{form.medium.errors}}
Medium:  {{form.medium}} <br>
{{form.mmethod.errors}}
Measurement Method:  {{form.mmethod}} <br>
{{form.mquant.errors}}
Measurement Quantity: {{form.mquant}} <br>
{{form.munits.errors}}
Measurement Units:  {{form.munits}} <br>
{{form.date.errors}}
Measurement Date:  {{form.date}} <br>
<script type="text/javascript">
    $(function(){
      $('#id_date').appendDtpicker();
    });
  </script>
{{form.notes.errors}}
Measurement Notes:  {{form.notes}} <br>
{{form.personid.errors}}
Person:  {{form.personid}}<br>

{{form.locationid.errors}}
Location:  {{form.locationid}} <br>

</form>
</td>
<td>
<form id = "paramSubmit" style = "display:none;" id="paramForm" name="paramForm" >
{% csrf_token %}
<p>To assist in standardizing our chemical Parameters, we ask that you use the <a href="http://ofmpub.epa.gov/sor_internet/registry/substreg/searchandretrieve/substancesearch/search.do" target="_blank">USEPA's Substance Registry Services</a> to find the CAS or EPA Number(s) for your parameter.  On that page, you can enter what you know about your Parameter and select from a list of search results.</p>

<p>The following attributes are found on the search results and Substance Details pages, to be entered below:</p>
<ul>
  <li>The Systematic Name can be copied to our Scientific Name field below.</li> 
  <li>The EPA Registry Name can be copied to our Common Name field below.</li>  
  <li>The CAS Number must be entered below.</li>  
  <li>The EPA Identification Number or EPA Identifier corresponds to our EPA Number below.</li>
</ul>

Scientific Name:
<input id="sciname" type = "text" name="sciname"/>
<br>Common Name:
<input id="comname" type = "text" name ="commonname"/>
<br>CAS Number:
<input id="casnum" type = "text" name ="casnumber"/>
<br>EPA Number:
<input id="epanum" type = "text" name="epanumber"/>
<br>
<input type="submit" value="Submit"/>
</form>
</td>
</tr>
</tbody>
</table>
<div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:true, design:'headline'" style="width:100%;height:100%;">
      <div data-dojo-type="dijit/layout/ContentPane"  id="header" data-dojo-props="region:'top'" style="overflow:auto">
      <p>Add the location of your Measurement in one of three ways.</p>
      <ul><li>For new locations, enter a name and description for the location.</li><ul>
        <ol>
          <li>Enter geographic coordinates in the form below, or</li>
          <li>Click on the desired type of location (point, line or polygon) and then click where it is located on the map. Double click to finsh lines and polygons with multiple vertices.</li>
          <li>To choose from existing locations, simply click the location on the map and confirm that you wish to use that location.</li>
        </ol>
    <div style="float:left">
        <form id="latlonform" name='registration'  onSubmit="return latlonValidation();">
            <label for="name">Name:</label>  
            <input type="text" name="name" size="12" /> <br>             
            <label for="description">Description:</label>  
            <input type="text" name="description" size="12" /> <br> 
            <label for="latitude">Latitude (y):</label>  
            <input type="double" name="latitude" size="12" /> <br> 
            <label for="longitude">Longitude (x):</label> 
            <input type="double" name="longitude" size="12" /> 
            <input type="submit" name="submit" value="Add Site"/>
        </form>
      </div>
        <div id="templatePickerDiv"></div>

           </div>
      <div id="map" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="height:600px"></div>
      <div id="rightPane" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'right'">

          </div>
          </div>

<input id="createMeasurement" type="submit" value="Create Measurement" />


{% endblock %}



