{% extends "tablebase.html" %}
{% block pageName %}Changes{% endblock %}
{% block content %}
<h3> <a href="{% url 'lmdb:createChange' %}">Create Change</a></h3>
{% if changes %}

    <div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:true, design:'headline'" style="width:100%;height:100%;">
      <div data-dojo-type="dijit/layout/ContentPane"  id="header" data-dojo-props="region:'top'">
           </div>
      <div id="map" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'"></div>
          </div>
    
    <br>          

    Date Min:<input type = "text" id="datepicker_min"/>
    Date Max:<input type = "text" id="datepicker_max"/>


    <table id="example">
    <thead>
    <tr>
            <th><input style="width:100%" type="text" name="type" value="Type" class="search_init" /></th>
			<th><input style="width:100%" type="text" name="id" value="Search Ids" class="search_init" /></th>
			<th><input style="width:100%" type="text" name="project" value="Search Projects" class="search_init" /></th>
			<th><input style="width:100%" type="text" name="parameter" value="Search Parameters" class="search_init" /></th>
			<th><input style="width:100%" type="text" name="location" value="Search Locations" class="search_init" /></th>
			<th><input style="width:100%" type="text" name="person" value="Search People" class="search_init" /></th>
			<th><input style="width:100%" type="text" name="date" value="Search Dates" class="search_init" /></th>

		</tr>
	<tr>
        <th>Type</th>
        <th>ID</th>
        <th>Project</th>
        <th>Parameter</th>
        <th>Location</th>
        <th>Collector</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
   {% for c in changes %}
        <tr>
        <td><a href="{% url 'lmdb:changeDetail' c.objectid %}">Change</a></td>
        <td>{{ c.objectid }}</td>
        <td>{{ c.projectid_id }}</td>
        <td>{{ c.parameterid_id }}</td>
        <td>{{ c.locationid }}</td>
        <td>{{ c.personid_id }}</td>
        <td>{{ c.date|date:"m/d/Y" }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
   
	</tfoot>
    </table>
    <br>
{% else %}
    <p>No changes are available.</p>
{% endif %}
{% endblock %}