{% extends "base.html" %}
{% block pageName %}Create Project{% endblock %}
{% block customjs %}
{% load static %}
    <script type="text/javascript" src="{% static "datepicker/jquery.simple-dtpicker.js" %}"></script>
	<link type="text/css" href="{% static "datepicker/jquery.simple-dtpicker.css" %}" rel="stylesheet" />

{% endblock %}
{% block content %}

<form action="{% url 'lmdb:createProject' %}" method="post">
{% csrf_token %}
{{form.non_field_errors}}
{{form.objectid.errors}}
{{form.objectid}}
Project Name:  {{form.projectname}}<br>
Project Description:  {{form.projectdescription}}<br>
Project Objective:  {{form.projectobjective}}<br>
Associated Event:  {{form.eventid}}<br>
Permit:  {{form.permitid}}<br>
{{form.locationid.errors}}
Location:  {{form.locationid}} <br>
Project Start Date and Time: {{form.projectstartdate}}<br>
<script type="text/javascript">
		jQuery($(function(){
			$('#id_projectstartdate').appendDtpicker();
		}));
	</script>

Project End Date and Time:  {{form.projectenddate}}<br>
<script type="text/javascript">
		jQuery($(function(){
			$('#id_projectenddate').appendDtpicker();
		}));
	</script>
Funded:  {{form.funded}} <br>
Funder:  {{form.funder}}<br>
Project Coordinator:  {{form.personid}}<br>

{{form.people.errors}}
People Assigned to Project:  {{form.people}}

<input type="submit" value="Create Project" />
</form>
{% endblock %}