<!DOCTYPE html>
<html>
<head>
</head>
<form action="{% url 'lmdb:createEvent' %}" method="post">
{% load staticfiles %}
<img src="{% static "bootstrap/img/glyphicons-halflings-white.png" %}" alt="My image"/>

{% csrf_token %}
{{form.non_field_errors}}
{{form.objectid.errors}}
{{form.objectid}}
{{form.eventname.errors}}
Event Name:  {{form.eventname}}<br>
{{form.eventtype.errors}}
Event Type:  {{form.eventtype}}<br>
{{form.eventstartdate.errors}}
Event Start Date and Time: {{form.eventstartdate}}<br>
{{form.eventenddate.errors}}
Event End Date and Time:  {{form.eventenddate}}<br>
{{form.eventparticipants.errors}}
Number of Participants:  {{form.eventparticipants}}<br>
{{form.eventdescription.errors}}
Event Description:  {{form.eventdescription}}<br>
{{form.personid.errors}}
Event Coordinator:  {{form.personid}}<br>
<input type="submit" value="Create Event" />
</form>




</html>