{% extends "base.html" %}
{% block pageName %}Create Measurement{% endblock %}
{% block customjs %}
   {% load static %}
    <link rel="stylesheet" href="http://js.arcgis.com/3.6/js/dojo/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="http://js.arcgis.com/3.6/js/esri/css/esri.css">
    <script type="text/javascript" src="{% static "datepicker/jquery.simple-dtpicker.js" %}"></script>
	<link type="text/css" href="{% static "datepicker/jquery.simple-dtpicker.css" %}" rel="stylesheet" />
	
	<style>
#overlay {
     overflow: auto;
     position: fixed;
     left: 0px;
     top: 0px;
     width:100%;
     min-height:100%;
     z-index: 1000;
     background:rgba(0,0,0,0.6);
}

#overlay div {
     width:450px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:left;
  box-shadow:0 4px 12px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  border-radius:6px;
}

#upprev_close{
background:  white;
    border:0;
    color: #929292;
    float: right;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
 cursor:pointer;cursor:hand;
}

#report_form input[type="radio"] {
   display:none;
}

#report_form  label {
    display:table;
    background-color:#ddd;
    padding:4px 11px;
 cursor:pointer;cursor:hand;
 border-radius:3px 3px 3px 3px;
 margin: 0.3em;
}

#report_form  input[type="radio"]:checked + label {
    background-color:#bbb;
 box-shadow: -1px 0 5px orange;
}

</style>

    <style>
      html, body {
        height: 100%;
        width: 100%;
        margin: 0; 
        padding: 0;
      }
      #header {
        border:solid 2px #462d44;
        background:#fff;
        color:#444;
        -moz-border-radius: 4px;
        border-radius: 4px;
        font-family: sans-serif;
        font-size: 1.1em
        padding-left:20px;
      }
      #map {
        padding:1px;
        border:solid 2px #444;
        -moz-border-radius: 4px;
        border-radius: 4px;
      }
      #rightPane {
        border:none;
        padding: 0;
        width:228px;
      }
      .templatePicker {
        border: solid 2px #444;
      }
    </style>

 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
    <script src="http://malsup.github.com/jquery.form.js"></script> 

    <script src="http://js.arcgis.com/3.6/"></script>
    
        <script> 
        // wait for the DOM to be loaded    
       
        $(document).ready(function() { 
            // bind 'latlonform' and provide a simple callback function 
            $('#latlonform').ajaxForm(function() { 
            }); 
        }); 
        
        
    </script> 
    
    
    <script>
var featureLayer;
dojo.require("esri.map");
dojo.require("esri.layers.FeatureLayer");
dojo.require("esri.layers.FeatureEditResult");
dojo.require("esri.geometry.Geometry");
dojo.require("dijit.TooltipDialog");
dojo.require("dijit.layout.BorderContainer");
dojo.require("dijit.layout.ContentPane");
dojo.require("esri.dijit.editing.TemplatePicker-all");
dojo.require("esri.tasks.gp");

var map;
require([
    "esri/map",
    "esri/toolbars/draw",
    "esri/toolbars/edit",
    "esri/graphic",
    "esri/config",

    "esri/layers/FeatureLayer",
    "esri/geometry/Point",

    "esri/symbols/SimpleMarkerSymbol",
    "esri/symbols/SimpleLineSymbol",
    "esri/symbols/SimpleFillSymbol",

    "esri/dijit/editing/TemplatePicker",

    "dojo/_base/array",
    "dojo/_base/event",
    "dojo/_base/lang",
    "dojo/parser",
    "dijit/registry",

    "dijit/layout/BorderContainer", "dijit/layout/ContentPane",
    "dijit/form/Button", "dojo/domReady!"
], function (
    Map, Draw, Edit, Graphic, esriConfig,
    FeatureLayer,Point,
    SimpleMarkerSymbol, SimpleLineSymbol, SimpleFillSymbol,
    TemplatePicker,
    arrayUtils, event, lang, parser, registry
) {
   // parser.parse();

    // refer to "Using the Proxy Page" for more information:  https://developers.arcgis.com/en/javascript/jshelp/ags_proxy.html
    esriConfig.defaults.io.proxyUrl = "/proxy";

    // This service is for development and testing purposes only. We recommend that you create your own geometry service for use within your applications. 
    esriConfig.defaults.geometryService = new esri.tasks.GeometryService("http://tasks.arcgisonline.com/ArcGIS/rest/services/Geometry/GeometryServer");

    map = new Map("map", {
        basemap: "satellite",
        logo: true,
        center: [-88.366193, 42.289993],
        zoom: 14
    });

    map.on("layers-add-result", initEditing);
    if({{points}}.length != 0){
    pointLayer = new FeatureLayer("http://147.126.65.155/gis/rest/services/campus/lurec_lmdb/FeatureServer/0", {
        mode: FeatureLayer.MODE_SNAPSHOT,
        outFields: ["*"]

    });
    var queryString = ""
    for( var i=0;  i<{{points}}.length; i++){
        if (queryString == ""){
            queryString += "objectid =" + {{points}}[i];
        }
        else{
            queryString += "OR objectid =" + {{points}}[i];
        }
    
    }
    pointLayer.setDefinitionExpression(queryString);
    }
    if ({{lines}}.length != 0){
    lineLayer = new FeatureLayer("http://147.126.65.155/gis/rest/services/campus/lurec_lmdb/FeatureServer/1", {
        mode: FeatureLayer.MODE_SNAPSHOT,
        outFields: ["*"]
    });
    var queryString = ""
    for( var i=0; i<{{lines}}.length;i++){
        if (queryString == ""){
            queryString += "objectid =" + {{lines}}[i];
        }
        else{
            queryString += "OR objectid =" + {{lines}}[i];
        }
    
    }
    lineLayer.setDefinitionExpression(queryString);    }
    if({{polys}}.length!=0){
    polyLayer = new FeatureLayer("http://147.126.65.155/gis/rest/services/campus/lurec_lmdb/FeatureServer/2", {
        mode: FeatureLayer.MODE_SNAPSHOT,
        outFields: ["*"]
    });
   var queryString = ""
    for( var i=0; i<{{polys}}.length; i++){
        if (queryString == ""){
            queryString += "objectid =" + {{polys}}[i];
        }
        else{
            queryString += "OR objectid =" + {{polys}}[i];
        }
    
    }
    polyLayer.setDefinitionExpression(queryString);}
    infoTemplate = new esri.InfoTemplate("Object ID : ${objectid}",
        "<input class=\"hidden\" id = \"locId\" value=\"${objectid}\"/>" +
        "You have selected to use this location to record your measurement.");

    if (pointLayer != null){
       pointLayer.setInfoTemplate(infoTemplate);
    }
    if (lineLayer != null){
        lineLayer.setInfoTemplate(infoTemplate);
    }
    if (polyLayer != null){
        polyLayer.setInfoTemplate(infoTemplate);
    }

    dojo.connect(map, "onLayersAddResult", initEditing);

    dojo.connect(pointLayer, "onEditsComplete",
        function (addResults) {
            if (addResults.length > 0) {
                alert("objectid is: " + addResults[0].objectId);

                try{
                jQuery.post('/lmdb/reference/locations/create/popup/',{'csrfmiddlewaretoken' : '{{ csrf_token }}','indicator': 'yes', 'type': 'point', 'objectid' :addResults[0].objectId}, function() {
  alert( "success" );
}); 
                }
                catch(err){
                console.log(err);
                }

                document.getElementById('id_locationid').value=addResults[0].objectId;

var graphic = pointLayer.graphics[pointLayer.graphics.length - 1];
                graphic.attributes["additionalinformation"] = graphic.attributes["objectid"];
                try{
                x = graphic.geometry.x;
                y = graphic.geometry.y;
                sr = map.spatialReference;
                p = new Point(x,y,sr)
                map.infoWindow.show(p);
                
                map.infoWindow.setContent(graphic.getContent());
                }
                catch(err){
                console.log(err);
                }
            }


        });


    dojo.connect(lineLayer, "onEditsComplete",
        function (addResults) {
            if (addResults.length > 0) {
                alert("objectid is: " + addResults[0].objectId);


try{                jQuery.post('/lmdb/reference/locations/create/popup/',{'csrfmiddlewaretoken' : '{{ csrf_token }}','indicator': 'yes', 'type': 'line', 'objectid' :addResults[0].objectId}, function() {
  alert( "success" );
}); 
                }
                catch(err){
                console.log(err);
                }



                document.getElementById('id_locationid').value=addResults[0].objectId;

                 var graphic = lineLayer.graphics[lineLayer.graphics.length - 1];
             graphic.attributes["additionalinformation"] = graphic.attributes["objectid"];
                try{
                x = graphic.geometry.paths[0][0][0];
                y = graphic.geometry.paths[0][0][1];
                sr = map.spatialReference;
                p = new Point(x,y,sr)
                map.infoWindow.show(p);
                
                map.infoWindow.setContent(graphic.getContent());
                }
                catch(err){
                console.log(err);
                }
                        }


        });




    dojo.connect(polyLayer, "onEditsComplete",
        function (addResults) {
            if (addResults.length > 0) {
                alert("objectid is: " + addResults[0].objectId);

try{
               jQuery.post('/lmdb/reference/locations/create/popup/',{'csrfmiddlewaretoken' : '{{ csrf_token }}','indicator': 'yes', 'type': 'poly', 'objectid' :addResults[0].objectId}, function() {
  alert( "success" );
}); 
                }
                catch(err){
                console.log(err);
                }



                document.getElementById('id_locationid').value=addResults[0].objectId;

                var graphic = polyLayer.graphics[polyLayer.graphics.length - 1];
             graphic.attributes["additionalinformation"] = graphic.attributes["objectid"];
                try{
                x = graphic.geometry.rings[0][0][0];
                y = graphic.geometry.rings[0][0][1];
                sr = map.spatialReference;
                p = new Point(x,y,sr)
                map.infoWindow.show(p);
                
                map.infoWindow.setContent(graphic.getContent());
                }
                catch(err){
                console.log(err);
                }
            }


        });




      if( pointLayer == null || lineLayer == null || polyLayer == null){
         if(pointLayer!=null && lineLayer !=null){
             map.addLayers([pointLayer,lineLayer]);
         }
         else if(pointLayer!=null && polyLayer!=null){
             map.addLayers([pointLayer,polyLayer]);
         }
         else if(lineLayer!=null && polyLayer!=null){
             map.addLayers([lineLayer,polyLayer]);
         }
         else if(pointLayer==null && lineLayer == null){
             map.addLayers([polyLayer]);
         }
         else if(lineLayer==null && polyLayer==null){
             map.addLayers([pointLayer]);
         }
         else if(pointLayer==null && polyLayer==null){
             map.addLayers([lineLayer]);
         }
    }
    else{
        map.addLayers([pointLayer,lineLayer,polyLayer]);
    }
    map.addLayers([pointLayer,lineLayer,polyLayer]);



    function initEditing(evt) {
        console.log("initEditing", evt);
        // var map = this;
        var currentLayer = null;
        var layers = arrayUtils.map(evt.layers, function (result) {
            return result.layer;
        });
        console.log("layers", layers);

        var editToolbar = new Edit(map);
        editToolbar.on("deactivate", function (evt) {
            currentLayer.applyEdits(null, [evt.graphic], null);
        });

        arrayUtils.forEach(layers, function (layer) {
            var editingEnabled = false;
            layer.on("dbl-click", function (evt) {
                event.stop(evt);
                if (editingEnabled === false) {
                    editingEnabled = true;
                    editToolbar.activate(Edit.EDIT_VERTICES, evt.graphic);
                } else {
                    currentLayer = this;
                    editToolbar.deactivate();
                    editingEnabled = false;
                }
            });

            layer.on("click", function (evt) {
                event.stop(evt);
                document.getElementById('id_locationid').value=document.getElementById('locId').value;
                if (evt.ctrlKey === true || evt.metaKey === true) { //delete feature if ctrl key is depressed
                    layer.applyEdits(null, null, [evt.graphic]);
                    currentLayer = this;
                    editToolbar.deactivate();
                    editingEnabled = false;
                }
            });
        });

        var templatePicker = new TemplatePicker({
            featureLayers: layers,
            rows: "auto",
            columns: 2,
            grouping: true,
            style: "height: auto; overflow: auto;"
        }, "templatePickerDiv");

        templatePicker.startup();

        var drawToolbar = new Draw(map);

        var selectedTemplate;
        templatePicker.on("selection-change", function () {
            if (templatePicker.getSelected()) {
                selectedTemplate = templatePicker.getSelected();
            }
            switch (selectedTemplate.featureLayer.geometryType) {
            case "esriGeometryPoint":
                drawToolbar.activate(Draw.POINT);
                break;
            case "esriGeometryPolyline":
                drawToolbar.activate(Draw.POLYLINE);
                break;
            case "esriGeometryPolygon":
                drawToolbar.activate(Draw.POLYGON);
                break;
            }
        });

        drawToolbar.on("draw-end", function (evt) {
            drawToolbar.deactivate();
            editToolbar.deactivate();
            var newAttributes = lang.mixin({}, selectedTemplate.template.prototype.attributes);
            var newGraphic = new Graphic(evt.geometry, null, newAttributes);
            selectedTemplate.featureLayer.applyEdits([newGraphic], null, null);

        });
    }
    

});


function addParameter(){
    $("#paramSubmit").css('visibility','visible')
// jQuery.getJSON("/lmdb/reference/organisms/orderFilter/"+order_field+"/", function(j) {
//         var options = '<option value="">---------- </option>';
//         for (var i = 0; i < j.length; i++) {
//           options += '<option value="' + j[i].family + '">' + j[i].family + '</option>';
//         }
//         $("#id_family").html(options);
//         $("#id_family option:first").attr('selected', 'selected');
//         $("#id_family").attr('disabled', false);
//       })
//       $("#id_order_field").attr('selected', 'selected');

};




</script>
{% endblock %}
{% block customclass %}
class ="claro"
{% endblock %}
{% block content %}
<table>
<tbody>
<tr>
<td style="width:75%">
<form id="measurementForm" action="{% url 'lmdb:createMeasurement' %}" method="post">
{% csrf_token %}
{{form.non_field_errors}}
{{form.objectid.errors}}
{{form.objectid}}
{{form.mname.errors}}
Name:  {{form.mname}}<br>
{{form.parameterid.errors}}
Parameter:  {{form.parameterid}}  <button type="button" onclick="addParameter();">Add Parameter</button>

<br>
{{form.projectid.errors}}
Project:  {{form.projectid}} <br>
{{form.medium.errors}}
Medium:  {{form.medium}} <br>
{{form.mmethod.errors}}
Measurement Method:  {{form.mmethod}} <br>
{{form.mquant.errors}}
Measurement Quantity: {{form.mquant}} <br>
{{form.munits.errors}}
Measurement Units:  {{form.munits}} <br>
{{form.date.errors}}
Measurement Date:  {{form.date}} <br>
<script type="text/javascript">
		$.noConflict();
		jQuery($(function(){
			$('#id_date').appendDtpicker();
		}));
	</script>
{{form.notes.errors}}
Measurement Notes:  {{form.notes}} <br>
{{form.personid.errors}}
Person:  {{form.personid}}<br>

{{form.locationid.errors}}
Location:  {{form.locationid}} <br>

</form>
</td>
<td>
<form id = "paramSubmit" style = "visibility:hidden;" id="paramForm" name="paramForm" >
{% csrf_token %}

Scienctific Name:
<input id="sciname" type = "text" name="sciname"/>
Common Name:
<input id="comname" type = "text" name ="commonname"/>
CAS Number:
<input id="casnum" type = "text" name ="casnumber"/>
EPA Number:
<input id="epanum" type = "text" name="epanumber"/>

<input type="submit" value="Submit"/>
</form>
</td>
</tr>
</tbody>
</table>
<div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:true, design:'headline'" style="width:100%;height:100%;">
      <div data-dojo-type="dijit/layout/ContentPane"  id="header" data-dojo-props="region:'top'">
           </div>
      <div id="map" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'"></div>
      <div id="rightPane" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'right'">
        <div id="templatePickerDiv"></div>

          </div>
          </div>

<input id="createMeasurement" type="submit" value="Create Measurement" />

<script type="text/javascript">
    $(document).ready(function() {
       $("#createMeasurement").click(function() {
           $("#measurementForm").submit();
       });
    
       $("#paramSubmit").submit(function(e){
            e.preventDefault();
            var values = $(this).serialize();
            
            var a = $.post('/lmdb/reference/parameters/createFromData/', values, function(response) {
    // log the response to the console
    console.log("Response: "+response);
    console.log(response['commonname']);
 $("#id_parameterid").append('<option value="' + response['id'] + '">' + response['commonname'] + '</option>');
    //var option = '<option value="' + response['id']+ '">' + response['commonname'] + '</option>';
//    $("#id_parameterid").html(option);
  //      $("#id_parameterid option:first").attr('selected', 'selected');
       },'json');
    console.log(a);
    this.reset();
    });
    });
</script>

{% endblock %}



