<h1>{{event.eventname}}</h1>
<ul>
    <li>ID:  {{event.objectid}}</li>
    <li>Event Type:  {{event.eventtype}}</li>
    <li>Start Date and Time:  {{event.eventstartdate}}</li>
    <li>End Date and Time:  {{event.eventenddate}}</li>
    <li>Participants:  {{event.eventparticipants}}</li>
    <li>Event Coordinator:  {{person.firstname}}  {{person.lastname}}</li>
</ul>
{% if projects %}
    <h2>Projects Associated with Event</h2>
    <ul>
    {% for project in projects %}
        <li><a href="{% url 'lmdb:projectDetail' project.objectid %}">{{project.projectname}}</a></li>
    {% endfor %}
    </ul>
{% else %}
{% endif %}

