{% extends "tablebase.html" %}
{% block pageName %}Measurements{% endblock %}
{% block content %}
<h3> <a href="{% url 'lmdb:createMeasurement' %}">Create Measurement</a></h3>

{% if measurements %}
        <div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:true, design:'headline'" style="width:100%;height:100%;">
      <div data-dojo-type="dijit/layout/ContentPane"  id="header" data-dojo-props="region:'top'">
           </div>
      <div id="map" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'"></div>
          </div>
          
           <br>          

    <input type = "text" id="datepicker_min"/>
    <input type = "text" id="datepicker_max"/>


    <table id="example">
    <thead>
        <th>ID</th>
        <th>Project</th>
        <th>Parameter</th>
        <th>Location</th>
        <th>Collector</th>
        <th>Date</th>
    </thead>
    <tbody>
   {% for m in measurements %}
        <tr>
        <td><a href="{% url 'lmdb:measurementDetail' m.objectid %}">{{ m.objectid }}</a></td>
        <td>{{ m.projectid_id }}</td>
        <td>{{ m.parameterid_id }}</td>
        <td>{{ m.locationid }}</td>
        <td>{{ m.personid_id }}</td>
        <td>{{ m.date|date:"m/d/Y" }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
   <tr>
			<th><input style="width:100%" type="text" name="id" value="Search Ids" class="search_init" /></th>
			<th><input style="width:100%" type="text" name="project" value="Search Projects" class="search_init" /></th>
			<th><input style="width:100%" type="text" name="organism" value="Search Organisms" class="search_init" /></th>
			<th><input style="width:100%" type="text" name="location" value="Search Locations" class="search_init" /></th>
			<th><input style="width:100%" type="text" name="person" value="Search People" class="search_init" /></th>
			<th><input style="width:100%" type="text" name="date" value="Search Dates" class="search_init" /></th>

		</tr>
	</tfoot>
    </table>
    <br>
{% else %}
    <p>No measurements are available.</p>
{% endif %}
{% endblock %}