{% extends "base.html" %}
{% block pageName %}Project Detail{% endblock %}
{% block content %}
<h1>{{project.projectname}}</h1>
<h3><a href="{% url 'lmdb:editProject' project.objectid %}">Edit Project</a></h3>
<ul>
    <li>ID:  {{project.objectid}}</li>
    <li>Project Description:  {{project.projectdescription}}</li>
    <li>Project Objective:  {{project.projectobjective}}</li>
    <li>Associated Event:  <a href="{% url 'lmdb:eventDetail' event.objectid %}">{{event.eventname}}</a></li>
    <li>Permit ID:  {{project.permitid.objectid}}</li>
    <li>Project Start Date:  {{project.projectstartdate}}</li>
    <li>Project End Date:  {{project.projectenddate}}</li>
    <li>Funded:  {% if project.funded == 1 %}
                     Yes
                 {% else %}
                     No
                 {% endif %}
    </li>
    <li>Funder:  {{project.funder}}</li>
    <li>Project Coordinator:  {{person.firstname}} {{person.lastname}}</li>

            {% if people %}
            <li>People Assigned to Project:
                {% for p in people %}
                    <ul>
                        <li>{{p.firstname}} {{p.lastname}}</li>
                    </ul>
                {% endfor %}
            </li>
            {% endif %}
</ul>
<h3>Changes</h3>
{% if changes %}
    <ul>
    {% for c in changes %}
        <li><a href="{% url 'lmdb:changeDetail' c.objectid %}">{{ c.objectid }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No changes associated with project.</p>
{% endif %}
<h3>Collections</h3>
{% if collections %}
    <ul>
    {% for c in collections %}
        <li><a href="{% url 'lmdb:collectionDetail' c.objectid %}">{{ c.objectid }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No collections associated with project.</p>
{% endif %}
<h3>Measurements</h3>
{% if measurements %}
    <ul>
    {% for m in measurements %}
        <li><a href="{% url 'lmdb:measurementDetail' m.objectid %}">{{ m.objectid }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No measurements associated with project.</p>
{% endif %}
<h3>Sightings</h3>
{% if sightings %}
    <ul>
    {% for s in sightings %}
        <li><a href="{% url 'lmdb:sightingDetail' s.objectid %}">{{ s.objectid }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No sightings associated with project.</p>
{% endif %}
{% endblock %}