{% extends "base.html" %}
{% block pageName %}Reporting{% endblock %}
{% block customjs %}
{% load static %}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" type="text/css" media="all" />


<style type="text/css">
    .hero-unit{
        width: 100%
    }
</style>





{% endblock %}
{% block content %}




{% if sightings or measurements or collections or changes %}

    <h3>Simple Report</h3>

    {% if sightings %}
    <h4>Sightings</h4>

<table class="table table-bordered">
    <thead>
    
    <tr>


        </tr>
    <tr>
        <th>ID</th>
        <th>Project</th>
        <th>Project Start Date</th>
        <th>Project End Date</th>
        <th>Project Manager</th>
        <th>Organism</th>
        <th>Number</th>
        <th>Location</th>
        <th>Collector</th>
        <th>Date</th>
    </tr>    
    
    </thead>
    <tbody>
        {% for s in sightings %}
       <tr>
        <td>{{ s.objectid }}</td>
        <td>{{ s.projectid.projectname }}</td>
        <td>{{ s.projectid.projectstartdate}}</td>
        <td>{{ s.projectid.projectenddate}}</td>
        <td>{{ s.projectid.personid.displayname }}</td>        
        <td>{{ s.organismid.organismname }}</td>
        <td>{{s.number}}</td>
        <td>{{ s.locationid }}</td>
        <td>{{ s.personid.displayname }}</td>
        <td>{{ s.date|date:"m/d/Y" }}</td>
        </tr>
    {% endfor %}
</tbody>
</table>
    {% endif %}

    {% if measurements %}
    <h4>Measurements</h4>

<table class="table table-bordered">
    <thead>
    
    <tr>


        </tr>
    <tr>
        <th>ID</th>
        <th>Project</th>
        <th>Project Start Date</th>
        <th>Project End Date</th>
        <th>Project Manager</th>
        <th>Parameter</th>
        <th>Quantity</th>
        <th>Units</th>
        <th>Medium</th>
        <th>Location</th>
        <th>Collector</th>
        <th>Date</th>
    </tr>    
    
    </thead>
    <tbody>
           {% for m in measurements %}
        <tr>
        <td>{{ m.objectid }}</td>
        <td>{{ m.projectid.projectname }}</td>
        <td>{{ m.projectid.projectstartdate}}</td>
        <td>{{ m.projectid.projectenddate}}</td>
        <td>{{ m.projectid.personid.displayname }}</td>
        <td>{{ m.parameterid.commonname }}</td>
        <td>{{m.mquant}}</td>
        <td>{{m.munits}}</td>
        <td>{{m.medium}}</td>
        <td>{{ m.locationid }}</td>
        <td>{{ m.personid.displayname }}</td>
        <td>{{ m.date|date:"m/d/Y" }}</td>
        </tr>
    {% endfor %}
</tbody>
</table>
    {% endif %}

    {% if collections %}
    <h4>Collections</h4>

<table class="table table-bordered">
    <thead>
    
    <tr>


        </tr>
    <tr>
        <th>ID</th>
        <th>Project</th>
        <th>Project Start Date</th>
        <th>Project End Date</th>
        <th>Project Manager</th>
        <th>Organism</th>
        <th>Location</th>
        <th>Collector</th>
        <th>Date</th>
    </tr>    
    
    </thead>
    <tbody>
           {% for c in collections %}
        <tr>
        <td>{{ c.objectid }}</td>
        <td>{{ c.projectid.projectname }}</td>
        <td>{{ c.projectid.projectstartdate}}</td>
        <td>{{ c.projectid.projectenddate}}</td>
        <td>{{ c.projectid.personid.displayname }}</td>
        <td>{{ c.organismid.organismname }}</td>
        <td>{{ c.locationid }}</td>
        <td>{{ c.personid.displayname }}</td>
        <td>{{ c.datecollect|date:"m/d/Y" }}</td>
        </tr>
    {% endfor %}
</tbody>
</table>
    {% endif %}

    {% if changes %}
    <h4>Changes</h4>


<table class="table table-bordered">
    <thead>
    
    <tr>


        </tr>
    <tr>
        <th>ID</th>
        <th>Project</th>
        <th>Project Start Date</th>
        <th>Project End Date</th>
        <th>Project Manager</th>
        <th>Parameter</th>
        <th>Location</th>
        <th>Collector</th>
        <th>Date</th>
    </tr>    
    
    </thead>
    <tbody>
       {% for c in changes %}
        <tr>
        <td>{{ c.objectid }}</td>
        <td>{{ c.projectid.projectname }}</td>
        <td>{{ c.projectid.projectstartdate}}</td>
        <td>{{ c.projectid.projectenddate}}</td>
        <td>{{ c.projectid.personid.displayname }}</td>
       <td>{{ c.parameterid.commonname }}</td>
        <td>{{ c.locationid }}</td>
        <td>{{ c.personid.displayname }}</td>
        <td>{{ c.date|date:"m/d/Y" }}</td>
        </tr>
    {% endfor %}
</tbody>
</table>
    
    {% endif %}
       
{% else %}
No data available.
{% endif %}

{% endblock %}




