{% extends "base.html" %}
{% block title %}Reporting Test{% endblock %}
{% block customjs %}
{% load static %}
<script type="text/javascript" src="{% static "Highcharts-3.0.9/js/highcharts.js" %}"></script>
<script type="text/javascript" src="{% static "Highcharts-3.0.9/js/modules/exporting.js" %}"></script>
<script>
/*window.onload = function(){
	var canvas = document.getElementById("myChart");
var ctx = canvas.getContext("2d");
var	data = {
	labels : {{xaxis}},
	datasets : [
		{
			fillColor : "rgba(255,255,0,0.5)",
			strokeColor : "rgba(255,255,0,1)",
			pointColor : "rgba(255,255,0,1)",
			label : "Collections",
			pointStrokeColor : "#fff",
			data : {{collections}}
		},
		{
			fillColor : "rgba(128,0,0,0.5)",
			strokeColor : "rgba(128,0,0,1)",
			pointColor : "rgba(128,0,0,1)",
			label : "Changes",
			pointStrokeColor : "#fff",
			data : {{changes}}
		},
		{
			fillColor : "rgba(0,0,255,0.5)",
			strokeColor : "rgba(0,0,255,1)",
			pointColor : "rgba(0,0,255,1)",
			label : "Sightings",
			pointStrokeColor : "#fff",
			data : {{sightings}}
		},
		{
			fillColor : "rgba(0,100,0,0.5)",
			strokeColor : "rgba(0,100,0,1)",
			pointColor : "rgba(0,100,0,1)",
			label : "Measurements",
			pointStrokeColor : "#fff",
			data : {{measurements}}
		},
		
	]
}
//console.log({{data}})
var newchart = new Chart(ctx).Line(data);
}*/


$(function () {
        $('#container').highcharts({
            title: {
                text: 'Monthly Data Entries',
                x: -20 //center
            },
            subtitle: {
                text: 'Sightings, Collections, Measurements, and Changes',
                x: -20
            },
            xAxis: {
                categories: {{xaxis}}
            },
            yAxis: {
                title: {
                    text: 'Number of Inputs'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Sightings',
                data: {{sightings}}
            }, {
                name: 'Collections',
                data: {{collections}}
            }, {
                name: 'Changes',
                data: {{changes}}
            }, {
                name: 'Measurements',
                data: {{measurements}}
            }]
        });
    });

</script>
{% endblock %}
{% block sideBar %}
 <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
<li><a href="{% url 'lmdb:reference' %}">Reference Data</a></li>
<li><a href="{% url 'lmdb:data' %}">Data Input</a></li>
<li><a href="{% url 'reporting:reportingHome' %}">Reporting</a></li>
</ul>
</div>
</div>
{% endblock %}
{% block content %}
 <!--<canvas id="myChart" width="400" height="400"></canvas> -->
 <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>  




{% endblock %}