    <script>
var featureLayer;
dojo.require("esri.map");
dojo.require("esri.layers.FeatureLayer");
dojo.require("esri.layers.FeatureEditResult");
dojo.require("esri.geometry.Geometry");
dojo.require("dijit.TooltipDialog");
dojo.require("dijit.layout.BorderContainer");
dojo.require("dijit.layout.ContentPane");
dojo.require("esri.dijit.editing.TemplatePicker-all");
dojo.require("esri.tasks.gp");
dojo.require("esri.IdentityManager");


var map;
require([
    "esri/map",
    "esri/toolbars/draw",
    "esri/toolbars/edit",
    "esri/graphic",
    "esri/config",

    "esri/layers/FeatureLayer",
    "esri/geometry/Point",
    "esri/symbols/SimpleMarkerSymbol",
    "esri/symbols/SimpleLineSymbol",
    "esri/symbols/SimpleFillSymbol",
    "esri/layers/ArcGISDynamicMapServiceLayer",
    "esri/layers/ImageParameters",
    "esri/dijit/editing/TemplatePicker",

    "dojo/_base/array",
    "dojo/_base/event",
    "dojo/_base/lang",
    "dojo/parser",
    "dijit/registry",

    "dijit/layout/BorderContainer", "dijit/layout/ContentPane",
    "dijit/form/Button", "dojo/domReady!"
    
], function (
    Map, Draw, Edit, Graphic, esriConfig,
    FeatureLayer, Point,
    SimpleMarkerSymbol, SimpleLineSymbol, SimpleFillSymbol,
    ArcGISDynamicMapServiceLayer,
    ImageParameters,
    TemplatePicker,
    arrayUtils, event, lang, parser, registry
) {
   // parser.parse();

    // refer to "Using the Proxy Page" for more information:  https://developers.arcgis.com/en/javascript/jshelp/ags_proxy.html
    esriConfig.defaults.io.proxyUrl = "/proxy/";
    //esriConfig.defaults.io.alwaysUseProxy = false
    //esriConfig.defaults.io.postLength=100000
    // This service is for development and testing purposes only. We recommend that you create your own geometry service for use within your applications. 
    esri.config.defaults.geometryService = new esri.tasks.GeometryService("http://tasks.arcgisonline.com/ArcGIS/rest/services/Geometry/GeometryServer");

    var newCenter = new esri.geometry.Point([-9837000,5204182], new esri.SpatialReference({wkid: 102100 })); 
    var map_spatialReference = new esri.SpatialReference({wkid: 102100 })
    var pointLayer, lineLayer, polyLayer
    map = new Map("map", {
        basemap: "satellite",
        logo: true,
        center: newCenter,
        zoom: 14,
        spatialReference: map_spatialReference
    });

    map.on("layers-add-result", initEditing);



    //dojo.connect(map, "onLayersAddResult", initEditing);

    

    dojo.connect(map, "onLoad",signIn);

function signIn() {
        console.log('signing in')
      //dojo.byId("signInStatus").innerHTML = "Creating token...";

      // Get token from the ArcGIS Server Token Service.
      //
      esri.request({
        url: "https://147.126.65.155:6443/arcgis/tokens/",
        content: {
          request: "getToken",
          username: "lmdb_user",
          password: "lmdb",
          // clientid may not be necessary; try commented out first, but this is the correct syntax.
          //clientid: "ref.https://lmdb.luc.edu/"  
        },
        handleAs: "text",
        load: tokenObtained,
        error: tokenRequestFailed
      });
    }

    function tokenObtained(response) {
      //dojo.byId("signInStatus").innerHTML = "Token created. Accessing the service...";

      // Add the secure feature service to the map
      // Note that the token is appended to the URL
      // when constructing the layer.

      if("{{location.pointid}}" != "None"){
    featureLayer = new FeatureLayer("https://147.126.65.155:6443/arcgis/rest/services/campus/lurec_lmdb/FeatureServer/0?token=" + response, {
        mode: FeatureLayer.MODE_SNAPSHOT,
        outFields: ["*"]
    });
    featureLayer.setDefinitionExpression("objectid = {{location.pointid}}");
    }
    else if ("{{location.lineid}}" != "None"){
    featureLayer = new FeatureLayer("http://147.126.65.155/gis/rest/services/campus/lurec_lmdb/FeatureServer/1?token=" + response, {
        mode: FeatureLayer.MODE_SNAPSHOT,
        outFields: ["*"]
    });
    featureLayer.setDefinitionExpression("objectid = {{location.lineid}}");
    }
    else{
    featureLayer = new FeatureLayer("http://147.126.65.155/gis/rest/services/campus/lurec_lmdb/FeatureServer/2?token=" + response, {
        mode: FeatureLayer.MODE_SNAPSHOT,
        outFields: ["*"]
    });
    featureLayer.setDefinitionExpression("objectid = {{location.areaid}}");
}
    infoTemplate = new esri.InfoTemplate("ObjectID : ${objectid}",
        "Description : ${description}<br>");

    featureLayer.setInfoTemplate(infoTemplate);

   

//     aspect.after(featureLayer, 'onLoad', function() {
//         console.log('testing:')
// console.log(featureLayer.graphics[0])
// });

    var imageParameters = new ImageParameters();
        imageParameters.format = "jpeg";

     var dynamicMapServiceLayer = new ArcGISDynamicMapServiceLayer("https://147.126.65.155:6443/arcgis/rest/services/campus/lurec_lmdb_base/MapServer/?token=" + response, {
          "opacity" : 0.5,
          "imageParameters" : imageParameters
        });
    /////////////////////////



    map.addLayers([featureLayer, dynamicMapServiceLayer]);
    dojo.connect(featureLayer, "onUpdateEnd", function(){
        try{
        console.log(featureLayer.graphics[0].geometry.type)
        if(featureLayer.graphics[0].geometry.type == "polygon"){
        map.setExtent(featureLayer.graphics[0].geometry.getExtent())
        }
        else if(featureLayer.graphics[0].geometry.type == "point"){       
         map.centerAt(featureLayer.graphics[0].geometry)}
        
        else if(featureLayer.graphics[0].geometry.type == "polyline"){
        map.setExtent(featureLayer.graphics[0].geometry.getExtent())
        }
    }
        catch(err){
            console.log(err)
        }
    });
    


      console.log('token acquired')
     
}

// for testing only
function tokenRequestFailed(error) {
    console.log(error)
      dojo.byId("signInStatus").innerHTML = "Unable to create token. Please check your username/password";
    }





    // map.addLayers([pointLayer,lineLayer,polyLayer]);




    function initEditing(evt) {
        console.log("initEditing", evt);
        // var map = this;
        var currentLayer = null;
        var layers = arrayUtils.map(evt.layers, function (result) {
            return result.layer;
        });
        console.log("layers", layers);

        var editToolbar = new Edit(map);
        editToolbar.on("deactivate", function (evt) {
            currentLayer.applyEdits(null, [evt.graphic], null);
        });

        arrayUtils.forEach(layers, function (layer) {
            var editingEnabled = false;
            layer.on("dbl-click", function (evt) {
                event.stop(evt);
                if (editingEnabled === false) {
                    editingEnabled = true;
                    editToolbar.activate(Edit.EDIT_VERTICES, evt.graphic);
                } else {
                    currentLayer = this;
                    editToolbar.deactivate();
                    editingEnabled = false;
                }
            });

            layer.on("click", function (evt) {
                event.stop(evt);
               
            });
        });

        var templatePicker = new TemplatePicker({
            featureLayers: layers,
            rows: 1,
            columns: 3,
            grouping: false,
            style: "height: auto; width: 500px; overflow: auto;"
        }, "templatePickerDiv");

        templatePicker.startup();

        var drawToolbar = new Draw(map);

        var selectedTemplate;
        templatePicker.on("selection-change", function () {
            if (templatePicker.getSelected()) {
                selectedTemplate = templatePicker.getSelected();
            }
            switch (selectedTemplate.featureLayer.geometryType) {
            case "esriGeometryPoint":
                drawToolbar.activate(Draw.POINT);
                break;
            case "esriGeometryPolyline":
                drawToolbar.activate(Draw.POLYLINE);
                break;
            case "esriGeometryPolygon":
                drawToolbar.activate(Draw.POLYGON);
                break;
            }
        });

        drawToolbar.on("draw-end", function (evt) {
            drawToolbar.deactivate();
            editToolbar.deactivate();
            var newAttributes = lang.mixin({}, selectedTemplate.template.prototype.attributes);
            var newGraphic = new Graphic(evt.geometry, null, newAttributes);
            selectedTemplate.featureLayer.applyEdits([newGraphic], null, null);

        });
    
    // var pointA = featureLayer.graphics[0];
    // console.log(pointA);
    // // console.log(point[0])
    // // console.log(point[0].attributes.objectid);
    // map.centerAndZoom(pointA, 14);


    }
    

});



</script>
