{% extends "base.html" %}
{% block customjs %}
{% load static %}
    
    <link rel="stylesheet" href="{% static "DataTables-1.9.4/media/css/jquery.dataTables.css" %}" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" type="text/css" media="all" />
    <link rel="stylesheet" href="//js.arcgis.com/3.6/js/dojo/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="//js.arcgis.com/3.6/js/esri/css/esri.css">
    <style>
      html, body {
        height: 100%;
        width: 100%;
        margin: 0; 
        padding-top: 90px;
      }
      #header {
        border:solid 2px #462d44;
        background:#fff;
        color:#444;
        -moz-border-radius: 4px;
        border-radius: 4px;
        font-family: sans-serif;
        font-size: 1.1em
        padding-left:20px;
      }
      #map {
        padding:1px;
        border:solid 2px #444;
        -moz-border-radius: 4px;
        border-radius: 4px;
      }
      #rightPane {
        border:none;
        padding: 0;
        width:228px;
      }
      .templatePicker {
        border: solid 2px #444;
      }
    </style>

         <script type="text/javascript" src="{% static "DataTables-1.9.4/media/js/jquery.dataTables.js" %}"></script>

    <script src="//js.arcgis.com/3.6/"></script>
    
        <script> 
        // wait for the DOM to be loaded    
        var i = 0;
        
       
         
        
        
    </script> 
    
    
    <script>
var pointLayer;
var lineLayer;
var polyLayer;
dojo.require("esri.map");
dojo.require("esri.layers.FeatureLayer");
dojo.require("esri.layers.FeatureEditResult");
dojo.require("esri.geometry.Geometry");
dojo.require("dijit.TooltipDialog");
dojo.require("dijit.layout.BorderContainer");
dojo.require("dijit.layout.ContentPane");
dojo.require("esri.dijit.editing.TemplatePicker-all");
dojo.require("esri.tasks.gp");

var map;
require([
    "esri/map",
    "esri/toolbars/draw",
    "esri/toolbars/edit",
    "esri/graphic",
    "esri/config",

    "esri/layers/FeatureLayer",

    "esri/symbols/SimpleMarkerSymbol",
    "esri/symbols/SimpleLineSymbol",
    "esri/symbols/SimpleFillSymbol",
    "esri/layers/ArcGISDynamicMapServiceLayer",
    "esri/layers/ImageParameters",
    "esri/dijit/editing/TemplatePicker",

    "dojo/_base/array",
    "dojo/_base/event",
    "dojo/_base/lang",
    "dojo/parser",
    "dijit/registry",

    "dijit/layout/BorderContainer", "dijit/layout/ContentPane",
    "dijit/form/Button", "dojo/domReady!"
], function (
    Map, Draw, Edit, Graphic, esriConfig,
    FeatureLayer,
    SimpleMarkerSymbol, SimpleLineSymbol, SimpleFillSymbol,
    ArcGISDynamicMapServiceLayer,
    ImageParameters,
    TemplatePicker,
    arrayUtils, event, lang, parser, registry
) {
   // parser.parse();

    // refer to "Using the Proxy Page" for more information:  https://developers.arcgis.com/en/javascript/jshelp/ags_proxy.html
    esriConfig.defaults.io.proxyUrl = "/proxy/";

    // This service is for development and testing purposes only. We recommend that you create your own geometry service for use within your applications. 
    esriConfig.defaults.geometryService = new esri.tasks.GeometryService("http://tasks.arcgisonline.com/ArcGIS/rest/services/Geometry/GeometryServer");

    map = new Map("map", {
        basemap: "satellite",
        logo: true,
        center: [-88.366193, 42.289993],
        zoom: 15
    });

    map.on("layers-add-result", initEditing);
 
    dojo.connect(map, "onLayersAddResult", initEditing);


 

        dojo.connect(map, "onLoad",signIn);

function signIn() {
        console.log('signing in')
      //dojo.byId("signInStatus").innerHTML = "Creating token...";

      // Get token from the ArcGIS Server Token Service.
      //
      esri.request({
        url: "https://jeez.etl.luc.edu/arcgis103/tokens/",
        content: {
          request: "getToken",
          username: "lmdb_user",
          password: "lmdb",
          // clientid may not be necessary; try commented out first, but this is the correct syntax.
          //clientid: "ref.https://lmdb.luc.edu/"  
        },
        handleAs: "text",
        load: tokenObtained,
        error: tokenRequestFailed
      });
    }

    function tokenObtained(response) {
      //dojo.byId("signInStatus").innerHTML = "Token created. Accessing the service...";

      // Add the secure feature service to the map
      // Note that the token is appended to the URL
      // when constructing the layer.
      console.log('token acquired')
     if({{points}}.length != 0){
         var pointFeatureLayerURL = "https://jeez.etl.luc.edu/arcgis103/rest/services/campus/lurec_lmdb/FeatureServer/0?token=" + response;

     var queryString = ""
     for( var i=0;  i<{{points}}.length; i++){
         if (queryString == ""){
             queryString += "objectid =" + {{points}}[i];
         }
         else{
             queryString += " OR objectid =" + {{points}}[i];
         }
    
     }


    pointLayer = new FeatureLayer(pointFeatureLayerURL ,{
        mode: FeatureLayer.MODE_SNAPSHOT,
        outFields:["*"]
     });
         pointLayer.setDefinitionExpression(queryString);


    if ({{lines}}.length != 0){
        var lineFeatureLayerURL = "https://jeez.etl.luc.edu/arcgis103/rest/services/campus/lurec_lmdb/FeatureServer/1?token=" + response;

    lineLayer = new FeatureLayer(lineFeatureLayerURL, {
        mode: FeatureLayer.MODE_SNAPSHOT,
        outFields: ["*"]
    });
    var queryString = ""
    for( var i=0; i<{{lines}}.length;i++){
        if (queryString == ""){
            queryString += "objectid =" + {{lines}}[i];
        }
        else{
            queryString += " OR objectid =" + {{lines}}[i];
        }
    
    }
    lineLayer.setDefinitionExpression(queryString);    }
    if({{polys}}.length!=0){
        var polyFeatureLayerURL = "https://jeez.etl.luc.edu/arcgis103/rest/services/campus/lurec_lmdb/FeatureServer/2?token=" + response;

    polyLayer = new FeatureLayer(polyFeatureLayerURL, {
        mode: FeatureLayer.MODE_SNAPSHOT,
        outFields: ["*"]
    });
   var queryString = ""
    for( var i=0; i<{{polys}}.length; i++){
        if (queryString == ""){
            queryString += "objectid =" + {{polys}}[i];
        }
        else{
            queryString += " OR objectid =" + {{polys}}[i];
        }
    
    }
    polyLayer.setDefinitionExpression(queryString);}


       
    infoTemplate = new esri.InfoTemplate("ObjectID : ${objectid}",
        "Description : ${description}<br>");

    if (pointLayer != null){
        pointLayer.setInfoTemplate(infoTemplate);
     }
     if (lineLayer != null){
         lineLayer.setInfoTemplate(infoTemplate);
     }
     if (polyLayer != null){
         polyLayer.setInfoTemplate(infoTemplate);
     }
    var imageParameters = new ImageParameters();
        imageParameters.format = "jpeg";

     var dynamicMapServiceLayer = new ArcGISDynamicMapServiceLayer("https://jeez.etl.luc.edu/arcgis103/rest/services/campus/lurec_lmdb_base/MapServer/?token=" + response, {
          "opacity" : 0.5,
          "imageParameters" : imageParameters
        });

           if( pointLayer == null || lineLayer == null || polyLayer == null){
         if(pointLayer!=null && lineLayer !=null){
             map.addLayers([pointLayer,lineLayer,dynamicMapServiceLayer]);
         }
         else if(pointLayer!=null && polyLayer!=null){
             map.addLayers([pointLayer,polyLayer,dynamicMapServiceLayer]);
         }
         else if(lineLayer!=null && polyLayer!=null){
             map.addLayers([lineLayer,polyLayer,dynamicMapServiceLayer]);
         }
         else if(pointLayer==null && lineLayer == null){
             map.addLayers([polyLayer,dynamicMapServiceLayer]);
         }
         else if(lineLayer==null && polyLayer==null){
             map.addLayers([pointLayer,dynamicMapServiceLayer]);
         }
         else if(pointLayer==null && polyLayer==null){
             map.addLayers([lineLayer,dynamicMapServiceLayer]);
         }
    }
    else{
        map.addLayers([pointLayer,lineLayer,polyLayer,dynamicMapServiceLayer]);
    }
      
  }
}

// for testing only
function tokenRequestFailed(error) {
    console.log(error)
      dojo.byId("signInStatus").innerHTML = "Unable to create token. Please check your username/password";
    }

    function initEditing(evt) {
        console.log("initEditing", evt);
        // var map = this;
        var currentLayer = null;
        var layers = arrayUtils.map(evt.layers, function (result) {
            return result.layer;
        });
        console.log("layers", layers);

        var editToolbar = new Edit(map);
        editToolbar.on("deactivate", function (evt) {
            currentLayer.applyEdits(null, [evt.graphic], null);
        });

        arrayUtils.forEach(layers, function (layer) {
            var editingEnabled = false;
            layer.on("dbl-click", function (evt) {
                event.stop(evt);
                if (editingEnabled === false) {
                    editingEnabled = true;
                    editToolbar.activate(Edit.EDIT_VERTICES, evt.graphic);
                } else {
                    currentLayer = this;
                    editToolbar.deactivate();
                    editingEnabled = false;
                }
            });

            layer.on("click", function (evt) {
                event.stop(evt);
                
            });
        });

        var templatePicker = new TemplatePicker({
            featureLayers: layers,
            rows: "auto",
            columns: 2,
            grouping: true,
            style: "height: auto; overflow: auto;"
        }, "templatePickerDiv");

        templatePicker.startup();

        var drawToolbar = new Draw(map);

        var selectedTemplate;
        templatePicker.on("selection-change", function () {
            if (templatePicker.getSelected()) {
                selectedTemplate = templatePicker.getSelected();
            }
            switch (selectedTemplate.featureLayer.geometryType) {
            case "esriGeometryPoint":
                drawToolbar.activate(Draw.POINT);
                break;
            case "esriGeometryPolyline":
                drawToolbar.activate(Draw.POLYLINE);
                break;
            case "esriGeometryPolygon":
                drawToolbar.activate(Draw.POLYGON);
                break;
            }
        });

        drawToolbar.on("draw-end", function (evt) {
            drawToolbar.deactivate();
            editToolbar.deactivate();
            var newAttributes = lang.mixin({}, selectedTemplate.template.prototype.attributes);
            var newGraphic = new Graphic(evt.geometry, null, newAttributes);
            selectedTemplate.featureLayer.applyEdits([newGraphic], null, null);

        });
    }
});








</script>

<script>
var minDateFilter;
var maxDateFilter;
var asInitVals = new Array();


$.fn.dataTableExt.afnFiltering.push(
  function( oSettings, aData, iDataIndex ) {
    if ( typeof aData._date == 'undefined' ) {
      aData._date = new Date(aData[5]).getTime();
    }
    
    if ( minDateFilter && !isNaN(minDateFilter) ) {
      if ( aData._date < minDateFilter ) {
        return false;
      }
    }
    
    if ( maxDateFilter && !isNaN(maxDateFilter) ) {
      if ( aData._date > maxDateFilter ) {
        return false;
      }
    }
    
    return true;
  }
);

$(document).ready( function() {
  var oTable = $('#example').dataTable( {
        "oLanguage": {
            "sSearch": "Search all columns:"
        },
        "aoColumns": [
                null,
                { "sType": "numeric" },
                null,
                null,
                { "sType": "numeric" },
                null,
                null
            ],
    "bJQueryUI": true
    } );
    
    
      
  $( "#datepicker_min" ).datepicker( {
    "onSelect": function(date) {
      minDateFilter = new Date(date).getTime();
      oTable.fnDraw();
    }
  } ).keyup( function () {
      minDateFilter = new Date(this.value).getTime();
      oTable.fnDraw();
  } );
  
  $( "#datepicker_max" ).datepicker( {
    "onSelect": function(date) {
      maxDateFilter = new Date(date).getTime();
      oTable.fnDraw();
    }
  } ).keyup( function () {
      maxDateFilter = new Date(this.value).getTime();
      oTable.fnDraw();
  } );
     
    $("thead input").keyup( function () {
        /* Filter on the column (the index) of this element */
        oTable.fnFilter( this.value, $("thead input").index(this) );
    } );
     
     
     
    /*
     * Support functions to provide a little bit of 'user friendlyness' to the textboxes in
     * the footer
     */
    $("thead input").each( function (i) {
        asInitVals[i] = this.value;
    } );
     
    $("thead input").focus( function () {
        if ( this.className == "search_init" )
        {
            this.className = "";
            this.value = "";
        }
    } );
     
    $("thead input").blur( function (i) {
        if ( this.value === "" )
        {
            this.className = "search_init";
            this.value = asInitVals[$("thead input").index(this)];
        }
    } );
  
  

} );
</script>
{% endblock %}
{% block customclass %}
class ="claro"
{% endblock %}

