{% extends "admin/base.html" %}
{% load i18n admin_static admin_modify %}
{% load admin_urls %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />

<script src="{% static 'admin/js/core.js' %}"></script>
<script src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
<script src="{% static 'admin/js/jquery.js' %}" ></script>
<script src="{% static 'admin/js/jquery.init.js' %}" ></script>
<script src="{% static 'admin/js/actions.js' %}" ></script>
<script src="{% static 'admin/js/SelectBox.js' %}" ></script>
<script src="{% static 'admin/js/admin/SelectFilter2.js' %}" ></script>
<script src="{% static 'admin/js/calendar.js' %}" ></script>
<script src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}" ></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<script>
$(document).ready(function(){
	$('#submit').click(function(){
		//validation
		$('#add_users').submit();
	})
	$("#1").attr('checked', true);

})

function anotheruser(){
		
			$('#add_users').append('<fieldset class="module aligned">' +
				'<h2>New User Data</h2>' + 
				'<div>' + 
				'Username: <input id="id_username" type="text" name="username" maxlength="30"></input><br>' +
				'Password: <input id="id_password1" type="password" name="password1"></input><br>' +
				'Password Verification: <input id="id_password2" type="password" name="password2"></input><br>' +
				'</div>' +
				'<div>' +
				'	First Name: <input id="id_first_name" class="vTextField" type="text" name="first_name" maxlength="30"></input><br>' +
				'	Last Name: <input id="id_last_name" class="vTextField" type="text" name="last_name" maxlength="30"></input><br>' +
				'	Email: <input id="id_email" class="vTextField" type="text" name="email" maxlength="75"></input><br>' +
				'</div>' + 
				'</fieldset>')

			$('#size').val($('#size').val()+1)
	}

		


</script>

{% endblock %}


{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Django administration' %}</h1>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo; <a href="/admin/auth/">Auth</a> &rsaquo; <a href="/admin/auth/user">Users</a> &rsaquo; Add
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
    {% endblock %}

{% block nav-global %}{% endblock %}
{% block content %}

<form id='add_users' action="/admin/auth/user/add/test/" method='post'>
	{% csrf_token %}
	<input id='size' name='size' type="hidden" value="1">
	 
	{% for g in groups %}
	    <label for="{{g.id}}">{{g}}</label>
		<input type='radio' name='group' id='{{g.id}}'></input><br>
	{% endfor %}

	<div>
		<input checked="checked" id="id_is_active" name="is_active" type="checkbox">
		<label for="id_is_active" class="vCheckboxLabel">Active</label>
		<p class="help">Designates whether this user should be treated as active. Unselect this instead of deleting accounts.</p>

		<input id="id_is_staff" name="is_staff" type="checkbox">
		<label for="id_is_staff" class="vCheckboxLabel">Staff status</label>
		<p class="help">Designates whether the user can log into this admin site.</p>

		<input id="id_is_superuser" name="is_superuser" type="checkbox">
		<label for="id_is_superuser" class="vCheckboxLabel">Superuser status</label>
		<p class="help">Designates that this user has all permissions without explicitly assigning them.</p>

	</div>
	<fieldset class="module aligned">
		<h2>New User Data</h2>
	<div>
	Username: <input id="id_username" type="text" name="username" maxlength="30"></input><br>
	Password: <input id="id_password1" type="password" name="password1"></input><br>
	Password Verification: <input id="id_password2" type="password" name="password2"></input><br>
	</div>
	<div>
		First Name: <input id="id_first_name" class="vTextField" type="text" name="first_name" maxlength="30"></input><br>
		Last Name: <input id="id_last_name" class="vTextField" type="text" name="last_name" maxlength="30"></input><br>
		Email: <input id="id_email" class="vTextField" type="text" name="email" maxlength="75"></input><br>
	</div>
	</fieldset>
</form>
	<button type="button" class="addlink" id="anotheruser" onclick='anotheruser()'>Create Another User</button><br><br>
	
	<button type="button" id="submit">Submit Users</button>
	


{% endblock %}
